frontend/public/workflows/database-reactivation/Launch_Campaign.json
{
  "name": "Launch Campaign",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lauch-campaign",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        -288
      ],
      "id": "5f04b947-5b3d-481a-9771-7e4043ca272b",
      "name": "Webhook",
      "webhookId": "b9e8c5b9-d734-4827-b945-1f4cd793c2c2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d37a3c97-c32c-4816-b765-762cb7c9245c",
              "name": "Campaign_Name",
              "value": "={{ $json.body.campaignName }}",
              "type": "string"
            },
            {
              "id": "c644ac81-a0bc-4353-91d6-6449ce6491ee",
              "name": "Reactivation_Notes",
              "value": "={{ $json.body.reactivationNotes }}",
              "type": "string"
            },
            {
              "id": "81075ac3-7481-4d82-8e28-f57621c58f45",
              "name": "First_Name",
              "value": "={{ $json.body.leadData[\"First Name\"] }}",
              "type": "string"
            },
            {
              "id": "f47dc0ed-61f1-47ba-a192-e7605b7ed683",
              "name": "Last_Name",
              "value": "={{ $json.body.leadData[\"Last Name\"] }}",
              "type": "string"
            },
            {
              "id": "5560d14e-fe74-4afd-ba94-5f2729772739",
              "name": "Email_Address",
              "value": "={{ $json.body.leadData.Email }}",
              "type": "string"
            },
            {
              "id": "d3a3c951-9147-46e8-bea0-35701c939892",
              "name": "Website_URL",
              "value": "={{ $json.body.leadData.Website }}",
              "type": "string"
            },
            {
              "id": "a3f40f05-44ee-4f4a-a026-428d93906580",
              "name": "Company_Name",
              "value": "={{ $json.body.leadData.Company }}",
              "type": "string"
            },
            {
              "id": "4084b4e3-cb52-4bb1-937b-72cc3028ceee",
              "name": "Phone_Number",
              "value": "={{ $json.body.leadData.Phone }}",
              "type": "string"
            },
            {
              "id": "b03ce847-d0a8-4587-b6b3-df2c45a908ee",
              "name": "Address",
              "value": "={{ $json.body.leadData.Address }}",
              "type": "string"
            },
            {
              "id": "a5c7c811-7654-458d-80bd-abf859d853c4",
              "name": "CustomValue1",
              "value": "={{ $json.body.leadData[\"Custom Value 1\"] }}",
              "type": "string"
            },
            {
              "id": "6babfe43-c3b7-45b5-891b-20538c752155",
              "name": "CustomValue2",
              "value": "={{ $json.body.leadData[\"Custom Value 2\"] }}",
              "type": "string"
            },
            {
              "id": "fca901aa-b9e1-4669-b910-0edcc6c02762",
              "name": "CustomValue3",
              "value": "={{ $json.body.leadData[\"Custom Value 3\"] }}",
              "type": "string"
            },
            {
              "id": "592b5b7d-63d0-4523-a40e-23df2df47555",
              "name": "CustomValue4",
              "value": "={{ $json.body.leadData[\"Custom Value 4\"] }}",
              "type": "string"
            },
            {
              "id": "0225cfd6-cf0a-4f07-8d96-ee25234ff00e",
              "name": "CustomValue5",
              "value": "={{ $json.body.leadData[\"Custom Value 5\"] }}",
              "type": "string"
            },
            {
              "id": "22fbd880-dc01-495d-93b6-5167c4d92e3b",
              "name": "CustomValue6",
              "value": "={{ $json.body.leadData[\"Custom Value 6\"] }}",
              "type": "string"
            },
            {
              "id": "3f869be1-3e51-4ffe-a3e9-9cb6bbad2c63",
              "name": "CustomValue7",
              "value": "={{ $json.body.leadData[\"Custom Value 7\"] }}",
              "type": "string"
            },
            {
              "id": "cbd8dcc4-f914-4885-bbc1-ce5bc577e39a",
              "name": "CustomValue8",
              "value": "={{ $json.body.leadData[\"Custom Value 8\"] }}",
              "type": "string"
            },
            {
              "id": "0edfc69f-5e72-4829-86c7-77e5a7971087",
              "name": "CustomValue9",
              "value": "={{ $json.body.leadData[\"Custom Value 9\"] }}",
              "type": "string"
            },
            {
              "id": "abe51df9-1bcf-40f1-958c-e7914fe5ae8c",
              "name": "CustomValue10",
              "value": "={{ $json.body.leadData[\"Custom Value 10\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -288
      ],
      "id": "26fad432-7306-4dde-abc9-18e1063e64cb",
      "name": "Set_Campaign_Details"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -320
      ],
      "id": "f3affea0-c204-48d8-acb7-9cb7814f2fe3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        32,
        -16
      ],
      "id": "262fb3cd-894d-41b2-9f67-653ae4e2bef2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "pGmEimZahPmvQoQj",
          "name": "1Prompt_Testing"
        }
      }
    },
    {
      "parameters": {
        "content": "## LLM Model / Parser",
        "height": 192,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -64
      ],
      "id": "7f7c1122-33ba-465d-bebb-fdacedca6cda",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"body\": {\n      \"type\": \"string\",\n      \"description\": \"The HTML formatted body of the email\"\n    },\n    \"personalized_message\": {\n      \"type\": \"string\",\n      \"description\": \"The raw personalized message with variable substitution\"\n    }\n  },\n  \"required\": [\"subject\", \"body\", \"personalized_message\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "0536cde8-4662-45ee-bf21-3a1cbe39ee40",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "## Send to HighLevel",
        "height": 224,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -336
      ],
      "id": "61c35130-9c6a-4b05-944f-280056387048",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Input Data:\nCampaign Name: {{ $json.Campaign_Name }}\nReactivation Notes: {{ $json.Reactivation_Notes }}\n\n# Contact Details: \nFirst Name: {{ $json.First_Name }}\nLast Name: {{ $json.Last_Name }}\nEmail Address: {{ $json.Email_Address }}\nWebsite URL: {{ $json.Website_URL }}\nCompany Name: {{ $json.Company_Name }}\nPhone Number: {{ $json.Phone_Number }}\nAddress: {{ $json.Address }}\nCustomValue1: {{ $json.CustomValue1 }}\nCustomValue2: {{ $json.CustomValue2 }}\nCustomValue3: {{ $json.CustomValue3 }}\nCustomValue4: {{ $json.CustomValue4 }}\nCustomValue5: {{ $json.CustomValue5 }}\nCustomValue6: {{ $json.CustomValue6 }}\nCustomValue7: {{ $json.CustomValue7 }}\nCustomValue8: {{ $json.CustomValue8 }}\nCustomValue9: {{ $json.CustomValue9 }}\nCustomValue10: {{ $json.CustomValue10 }}\n\n# CRITICAL POINTS:\n- Always format the message in conversational and human way.\n- Don't just copy paste the \"Reactivation Notes\". Try to understand and naturally introduce in the flow. It should not be strictly same script, you can modify it to make it more conversational in the sentence and it must make sense to the user",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# COMBINED SYSTEM PROMPT: Lead Reactivation Message Generator + Email Formatter\n\n## ROLE\nYou are an expert sales copywriter AND email formatter. Your dual task is to:\n1. Create initial reactivation messages for cold leads to reignite interest and get them to respond for a sales conversation\n2. Format the generated message as a clean, readable HTML email body with proper structure\n\n## INPUT VARIABLES (use only what's provided)\n- first_name (always available)\n- company_name (if provided)\n- campaign_name (business type/industry)\n- notes_column (if provided)\n- reactivation_notes (if provided)\n\n## MESSAGE REQUIREMENTS\n- 25-50 words maximum\n- Conversational and human\n- Offer specific value with numbers\n- Clear call-to-action\n- NO FAKE CLAIMS about helping their company before\n\n## 15 MESSAGE VARIATIONS\n\n### 1. Industry Focus\n\"Hey {first_name}, working with {campaign_name} businesses to get them 20-30 new customers monthly. Most add $15K-$40K revenue in 90 days. Worth chatting about growing {company_name}?\"\n\n### 2. Revenue Growth\n\"Hi {first_name}, been helping {campaign_name} companies scale to $50K+ monthly revenue. Typical results are 40-60% growth. Interested in seeing how this could work for {company_name}?\"\n\n### 3. Customer Acquisition\n\"Hey {first_name}, we get {campaign_name} businesses booked 3-4 weeks out with new customers. Most see results in 60 days. Quick call about scaling {company_name}?\"\n\n### 4. Market Opportunity\n\"Hi {first_name}, {campaign_name} businesses are crushing it right now with our system - adding $20K-$50K monthly. Worth discussing how {company_name} could benefit?\"\n\n### 5. Capacity Building\n\"Hey {first_name}, most {campaign_name} companies we work with go from slow to fully booked within 90 days. Interested in chatting about {company_name}'s growth?\"\n\n### 6. Competition Angle\n\"Hi {first_name}, while other {campaign_name} businesses struggle, our clients are adding 15-25 new customers monthly. Worth exploring for {company_name}?\"\n\n### 7. Results Timeline\n\"Hey {first_name}, {campaign_name} companies typically see $30K+ additional revenue within 6 months of working with us. Quick call about {company_name}?\"\n\n### 8. Volume Focus\n\"Hi {first_name}, we're getting {campaign_name} businesses 40+ qualified leads monthly. Most convert 20-30%. Worth discussing how this could help {company_name}?\"\n\n### 9. Scaling System\n\"Hey {first_name}, built a system that gets {campaign_name} companies consistent $25K-$60K monthly revenue. Interested in seeing if it fits {company_name}?\"\n\n### 10. Local Market\n\"Hi {first_name}, {campaign_name} businesses in your area are seeing 50-80% growth with our approach. Worth chatting about {company_name}'s potential?\"\n\n### 11. Direct ROI\n\"Hey {first_name}, typical {campaign_name} client sees $3-5 return for every $1 invested with us. Interested in exploring this for {company_name}?\"\n\n### 12. Booking Focus\n\"Hi {first_name}, most {campaign_name} companies we work with go from sporadic to booked solid within 4 months. Quick call about {company_name}?\"\n\n### 13. Growth Rate\n\"Hey {first_name}, {campaign_name} businesses are seeing 2-3x growth rates working with us. Most hit $40K+ monthly revenue. Worth discussing {company_name}?\"\n\n### 14. Market Share\n\"Hi {first_name}, we're helping {campaign_name} companies dominate their local markets with 25-40 new customers monthly. Interested in {company_name}'s growth?\"\n\n### 15. Simple Value\n\"Hey {first_name}, {campaign_name} businesses working with us typically double their revenue within a year. Worth a quick chat about {company_name}?\"\n\n## ADAPTATION RULES\n\n### If company_name is missing:\nReplace \"{company_name}\" with \"your business\" or \"your company\"\n\n### If campaign_name is generic:\nUse \"businesses like yours\" instead of \"{campaign_name} businesses\"\n\n### If notes_column exists:\nAdd context: \"especially given [reference to notes]\" at the end\n\n### If reactivation_notes exists:\nWork it in naturally: \"{reactivation_notes} - thought this might interest you\"\nDon't just copy paste the reactivation notes which you are getting as an Input. Always try to modify it accordingly to the message to make sense. Don't blindly follow anything. It should make sense and this is very important\n\n## CORE LOGIC\n- We help OTHER businesses in their industry\n- We show results OTHER companies get\n- We offer to help THEIR company achieve similar results\n- NEVER claim we helped them before\n- NEVER make it sound like we know them personally\n\n## TONE\n- Casual but professional\n- Confident in what we do for others\n- Curious about helping them\n- No pushy language\n- Real human conversation\n\n## STRICT RULES FOR MESSAGE GENERATION\n- NEVER say \"we helped [their company]\" \n- NEVER claim previous relationship\n- ALWAYS position as helping similar businesses\n- MUST include specific numbers/results\n- NO fake testimonials about their company\n- Focus on what we do for others in their industry\n\n---\n\n## EMAIL FORMATTING REQUIREMENTS\n\nYOU ARE THE WORLD'S BEST EMAIL FORMATTER. YOUR TASK IS TO TAKE THE GENERATED MESSAGE AND OUTPUT IT AS A CLEAN, READABLE HTML EMAIL BODY USING PARAGRAPH TAGS FOR SPACING. YOU MUST **ALWAYS** ENSURE THE EMAIL STARTS WITH A GREETING LINE.\n\n### EMAIL FORMATTING INSTRUCTIONS\n- **PREPEND GREETING WHEN MISSING:** IF THE GENERATED MESSAGE DOES **NOT** START WITH A GREETING (E.G., \"HI\", \"HELLO\", \"DEAR\", \"HEY\"), INSERT `<p>Hi,</p>` AS THE VERY FIRST PARAGRAPH\n- **PRESERVE BODY TEXT:** DO **NOT** ADD, REMOVE, OR MODIFY ANY WORDS IN THE BODY CONTENT; FORMAT ONLY\n- **STRUCTURE WITH `<p>` TAGS:** WRAP EACH SENTENCE OR INPUT LINE IN ITS OWN `<p>` TAG TO CREATE CLEAR SPACING\n- **RESPECT EXISTING GREETINGS:** IF THE MESSAGE ALREADY BEGINS WITH A GREETING, **DO NOT** ADD AN EXTRA \"Hi,\"; KEEP THE ORIGINAL GREETING AS-IS\n- **NO SIGN-OFFS UNLESS PRESENT:** DO NOT ADD A SIGN-OFF UNLESS PRESENT IN THE ORIGINAL MESSAGE\n- **ESCAPE HTML CHARACTERS:** CONVERT `&`, `<`, `>`, `\"`, `'` TO HTML ENTITIES **BEFORE** WRAPPING IN `<p>` TAGS\n- **SUBJECT LINE:** Generate an appropriate subject line in format: \"Quick question about {company_name}'s growth\" (or \"your business growth\" if no company name)\n\n### EMAIL FORMATTING CHAIN OF THOUGHTS\nFOLLOW THESE STEPS IN STRICT ORDER TO FORMAT THE EMAIL:\n1. **UNDERSTAND**\n   1.1. READ THE GENERATED MESSAGE EXACTLY AS GIVEN  \n   1.2. DETECT WHETHER THE TEXT **STARTS WITH A GREETING** USING A CASE-INSENSITIVE CHECK: `^\\s*(hi|hello|dear|hey)\\b`\n2. **BASICS**\n   2.1. IF NO GREETING IS DETECTED → PLAN TO INSERT `<p>Hi,</p>` AT THE TOP  \n   2.2. IDENTIFY PARAGRAPH UNITS: IF THE MESSAGE HAS LINE BREAKS, USE LINES; OTHERWISE SPLIT BY SENTENCE ENDERS (`.`, `?`, `!`), KEEPING ALL TEXT UNCHANGED\n3. **BREAK DOWN**\n   3.1. SPLIT INTO UNITS (LINES OR SENTENCES) **WITHOUT ALTERING** CHARACTERS  \n   3.2. TRIM ONLY LEADING/TRAILING WHITESPACE AROUND EACH UNIT (KEEP INTERNAL SPACES)\n4. **ANALYZE**\n   4.1. DO NOT INFER, CORRECT, OR REWRITE CONTENT  \n   4.2. MAINTAIN ORIGINAL ORDER\n5. **BUILD**\n   5.1. ESCAPE HTML-SENSITIVE CHARACTERS IN EACH UNIT  \n   5.2. WRAP EACH UNIT IN `<p>…</p>` TAGS  \n   5.3. IF GREETING WAS MISSING, PLACE `<p>Hi,</p>` **BEFORE** ALL OTHER PARAGRAPHS\n6. **EDGE CASES**\n   6.1. MULTIPLE CONSECUTIVE BLANK LINES → OUTPUT `<p></p>` FOR EACH TO PRESERVE SPACING  \n   6.2. LONG RUN-ON TEXT WITH NO PUNCTUATION/LINE BREAKS → OUTPUT AS A SINGLE `<p>` (PLUS THE CONDITIONAL GREETING)  \n   6.3. INPUT ALREADY CONTAINS HTML → ESCAPE IT; DO NOT RENDER OR STRIP IT  \n   6.4. INPUT STARTS WITH GREETING FOLLOWED BY COMMA/COLON/SPACE VARIANTS → TREAT AS VALID GREETING; DO NOT ADD \"Hi,\"\n7. **FINAL ANSWER**\n   7.1. RETURN SUBJECT LINE AND HTML BODY COMPOSED OF `<p>` BLOCKS  \n   7.2. DO NOT INCLUDE ANY MARKDOWN, COMMENTS, OR EXTRA TEXT\n\n### WHAT NOT TO DO IN EMAIL FORMATTING\n- **NEVER** ADD EXTRA WORDS BEYOND THE CONDITIONAL GREETING LINE  \n- **DO NOT** REPHRASE, CORRECT, OR POLISH THE BODY TEXT  \n- **DO NOT** REORDER SENTENCES OR LINES  \n- **DO NOT** INSERT A SIGN-OFF UNLESS PRESENT IN THE INPUT  \n- **DO NOT** LINKIFY URLS/EMAILS; KEEP THEM AS PLAIN TEXT  \n- **DO NOT** OMIT HTML ESCAPING OR `<p>` TAGS  \n- **DO NOT** WRAP THE OUTPUT IN MARKDOWN FENCES OR ADD EXPLANATIONS\n\n## FINAL OUTPUT FORMAT\nYou must provide BOTH:\n\n1. **PERSONALIZED MESSAGE:** The raw generated message with proper variable substitution\n2. **EMAIL FORMAT:** \n   - Subject: [Generated subject line]\n   - Body: [HTML formatted email body with proper paragraph tags]\n\n## OUTPUT STRUCTURE\n```\nPERSONALIZED MESSAGE:\n[Generated message text with variables substituted]\n\nEMAIL FORMAT:\nSubject: [Subject line]\n\nBody:\n[HTML email body with <p> tags]\n```\n\nReturn ONLY the personalized message and email format as specified above. No additional commentary or explanations.\n\nSON OUTPUT PARSER\nThe output must be returned as a JSON object that matches this exact schema:\njson{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"body\": {\n      \"type\": \"string\",\n      \"description\": \"The HTML formatted body of the email\"\n    },\n    \"personalized_message\": {\n      \"type\": \"string\",\n      \"description\": \"The raw personalized message with variable substitution\"\n    }\n  },\n  \"required\": [\"subject\", \"body\", \"personalized_message\"]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -288
      ],
      "id": "b9d657fe-42cb-468c-bb4f-85e983cd5f59",
      "name": "Message Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Get_API_Credentials1').item.json.data[0].Database_Reactivation_Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "CampaignName",
              "value": "={{ $('Set_Campaign_Details').item.json.Campaign_Name }}"
            },
            {
              "name": "ReactivationNotes",
              "value": "={{ $('Set_Campaign_Details').item.json.Reactivation_Notes }}"
            },
            {
              "name": "FirstName",
              "value": "={{ $('Set_Campaign_Details').item.json.First_Name }}"
            },
            {
              "name": "Last Name",
              "value": "={{ $('Set_Campaign_Details').item.json.Last_Name }}"
            },
            {
              "name": "EmailAddress",
              "value": "={{ $('Set_Campaign_Details').item.json.Email_Address }}"
            },
            {
              "name": "WebsiteURL",
              "value": "={{ $('Set_Campaign_Details').item.json.Website_URL }}"
            },
            {
              "name": "CompanyName",
              "value": "={{ $('Set_Campaign_Details').item.json.Company_Name }}"
            },
            {
              "name": "PhoneNumber",
              "value": "={{ $('Set_Campaign_Details').item.json.Phone_Number }}"
            },
            {
              "name": "PersoanlizedMessgae",
              "value": "={{ $json.output.personalized_message }}"
            },
            {
              "name": "PersonalizedEmail_Subject_Line",
              "value": "={{ $json.output.subject }}"
            },
            {
              "name": "PersonalizedEmail_Subject_Body",
              "value": "={{ $json.output.body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -288
      ],
      "id": "1c52ea19-dc6f-44ef-9853-aeaccf7bc228",
      "name": "Trigger HighLevel"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -336
      ],
      "id": "88f65d48-fb65-4bd9-8a40-f494724c99c2",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -320
      ],
      "id": "663d7648-eb78-4560-9882-f5eaab97bad7",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -64
      ],
      "id": "09367fba-7060-4645-ab4e-92875e8945b7",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -320
      ],
      "id": "169ad1bf-ada9-4e41-a6d2-c4bdb5edf873",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "API_Management",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -576,
        -288
      ],
      "id": "3b518f1f-5c86-4f8d-917e-5c2d309c8263",
      "name": "Get_API_Credentials",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -368,
        -288
      ],
      "id": "d75b43c4-c78a-4e1f-bb33-07313cdda892",
      "name": "Get_API_Credentials1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -320
      ],
      "id": "add2cb0e-d98b-4b97-b10d-3eb15292a26b",
      "name": "Sticky Note4",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "1166",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "origin": "https://76b05143-0415-4b27-aa25-f154d03532c9.lovableproject.com",
            "priority": "u=1, i",
            "referer": "https://76b05143-0415-4b27-aa25-f154d03532c9.lovableproject.com/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "106.222.200.33",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61e36126bc45",
            "x-real-ip": "106.222.200.33"
          },
          "params": {},
          "query": {},
          "body": {
            "leadData": {
              "Email": "john.doe@example.com",
              "Phone": "555-123-4567",
              "Address": "123 Main St, City, State 12345",
              "Company": "Acme Corp",
              "Website": "https://acme.com",
              "Last Name": "Doe",
              "First Name": "John",
              "Custom Value 1": "Sample Data 1",
              "Custom Value 2": "Sample Data 2",
              "Custom Value 3": "",
              "Custom Value 4": "",
              "Custom Value 5": "",
              "Custom Value 6": "",
              "Custom Value 7": "",
              "Custom Value 8": "",
              "Custom Value 9": "",
              "Custom Value 10": ""
            },
            "campaignName": "Banking Business",
            "reactivationNotes": "g",
            "leadId": "a3075b15-2f72-4684-a241-bea6b2c55c17",
            "campaignId": "93d603f6-aeb6-4b1d-b00c-3fda45678787",
            "scheduledFor": "2025-10-19T22:20:39.07+00:00",
            "processedAt": "2025-10-19T22:20:44.859Z",
            "supabase_url": "https://mdwqqfcfvqyeceneditn.supabase.co",
            "supabase_service_key": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kd3FxZmNmdnF5ZWNlbmVkaXRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDU0MTc4NywiZXhwIjoyMDYwMTE3Nzg3fQ.cLOHXachlbi1Zy52qX3S6jat_Fo4yBJKquMXp8WnZsE",
            "supabase_table_name": "chat_histories_geno",
            "database_reactivation_inbound_webhook_url": "https://services.leadconnectorhq.com/hooks/dzTOfajR3YuQKAqE1myz/webhook-trigger/E0PKgOxdRf0KTixdTn5g"
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/b9e8c5b9-d734-4827-b945-1f4cd793c2c2",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get_API_Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Campaign_Details": {
      "main": [
        [
          {
            "node": "Message Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Message Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Message Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Message Generator": {
      "main": [
        [
          {
            "node": "Trigger HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials": {
      "main": [
        [
          {
            "node": "Get_API_Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials1": {
      "main": [
        [
          {
            "node": "Set_Campaign_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9121d92b-8b53-4271-9bb3-206e754d145d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "5hP7ziPioa0TFeDN",
  "tags": []
}