frontend/public/workflows/knowledgebase-automation/Update_Knowledgebase.json
{
  "name": "Update Knowledgebase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knowledgebase-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        16
      ],
      "id": "2fc08f90-866c-4c7a-98b7-33f8f4611116",
      "name": "Webhook",
      "webhookId": "edd42465-d466-48a8-b66b-c69a7d5c3b8c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a3acd13-79dd-41b4-8ea5-b7ddf0ebe38c",
              "name": "Heading",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "03a0b047-8e9b-45e3-84ab-2972803f4e9f",
              "name": "Content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "0e6d35dc-cab5-4dc6-9883-dc4ca47d1283",
              "name": "Meta_data",
              "value": "={{ $json.body.tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        176
      ],
      "id": "c21b6040-042d-4a16-8612-61abe46aa9a2",
      "name": "Set_Field"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        416
      ],
      "id": "41628b24-0212-440a-b3d4-b459d16d2134",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "7gDa6a39caWm7jqo",
          "name": "1Prompt - OpenAI Connection"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Docs Title: {{ $('Set_Field').item.json.Heading }}\n\nContent:\n{{ $('Set_Field').item.json.Content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Category",
                "value": "={{ $('Set_Field').item.json.Meta_data }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        416
      ],
      "id": "1b7b712a-22ee-4a1b-a38f-6c8b229fdaed",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "Documents",
          "mode": "list",
          "cachedResultName": "Documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        304,
        176
      ],
      "id": "82072b85-46a5-47fb-8e32-b68d27a40132",
      "name": "Knowledgebase_Upload",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        720,
        416
      ],
      "id": "7da275f4-f082-4ef1-9815-903793a73bff",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "deleted",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "8f711053-f0ed-4b4a-a540-b7b2ae6ac93f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        16
      ],
      "id": "7199995c-b49b-45dc-a189-434d8aa8fe79",
      "name": "Checking Delete Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -304
      ],
      "id": "60ffaa8a-c026-4258-8608-e1b9573632ce",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        304,
        -96
      ],
      "id": "f66d6799-3209-496c-9aeb-d7aaf334db0b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        176
      ],
      "id": "e7b7cb37-3738-4168-8104-9aa5059df086",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -432,
        -16
      ],
      "id": "9fb4c3b8-a8bf-4562-ac87-b1d89f1c2ef5",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -16
      ],
      "id": "5654de30-247c-4181-82cc-20420c2a15f3",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -336
      ],
      "id": "eacbfd2e-32c3-445c-8c00-47712fc18acf",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -336
      ],
      "id": "80d4f04b-f15e-4e94-99f1-ed40dae9a1ee",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -128
      ],
      "id": "5938d1b2-0fbc-4a0c-a1a8-1b91d73543a5",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        -128
      ],
      "id": "4a05fa1a-ced4-40ef-b53a-a7648d1a4e88",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        144
      ],
      "id": "94abfa40-bab3-4cf2-ae9e-796529426f48",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        144
      ],
      "id": "c76b24b8-3856-4ac6-b07b-37feca0e8372",
      "name": "Sticky Note29",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        368
      ],
      "id": "a54bb98c-3038-4bcd-ad5e-930e8100e24b",
      "name": "Sticky Note30",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        368
      ],
      "id": "3d520ab8-ec05-416b-92b0-563ff422dc93",
      "name": "Sticky Note31",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        144
      ],
      "id": "bc4f70cf-24c4-43bb-81ae-5fe0f3b07701",
      "name": "Sticky Note32",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Documents",
        "filterType": "string",
        "filterString": "=metadata->>Category=eq.{{ $json.body.tag }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "25ab7986-3df2-4076-99c3-e08f0c7c656a",
      "name": "Delete a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Documents",
        "filterType": "string",
        "filterString": "=metadata->>Category=eq.{{ $json.body.tag }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        96,
        -304
      ],
      "id": "ebbde05e-1079-4fc0-b186-97389ec02a98",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36",
            "content-length": "157",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "origin": "https://id-preview--76b05143-0415-4b27-aa25-f154d03532c9.lovable.app",
            "priority": "u=1, i",
            "referer": "https://id-preview--76b05143-0415-4b27-aa25-f154d03532c9.lovable.app/",
            "sec-ch-ua": "\"Not;A=Brand\";v=\"99\", \"Google Chrome\";v=\"139\", \"Chromium\";v=\"139\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "49.206.133.189",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61e36126bc45",
            "x-real-ip": "49.206.133.189"
          },
          "params": {},
          "query": {},
          "body": {
            "title": "Ayush",
            "content": "Ayush",
            "tag": "Ayush",
            "action": "created",
            "timestamp": "2025-08-27T20:30:33.785Z",
            "clientId": "d266c53a-4cf0-4d2a-903e-c27b4c2386a6"
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/edd42465-d466-48a8-b66b-c69a7d5c3b8c",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Checking Delete Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Field": {
      "main": [
        [
          {
            "node": "Knowledgebase_Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Knowledgebase_Upload",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Knowledgebase_Upload",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Checking Delete Request": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Field",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase_Upload": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13048002-ba0a-4d06-97f1-cea01af9eb27",
  "meta": {
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "3McDOnSgvh4oEqy0",
  "tags": []
}