frontend/public/workflows/voice-sales-rep/Get_Lead_Details.json
{
  "name": "Get Lead Details",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-leads-details",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        -240
      ],
      "id": "b04946cf-b549-468c-9e0c-425db53d0bc5",
      "name": "Webhook",
      "webhookId": "f3a3fa45-1ef4-41f8-aa0e-cd189ef1f66b"
    },
    {
      "parameters": {
        "jsCode": "// Get the contacts array safely\nconst contacts = $input.first().json.contacts || [];\nconst contact = contacts.length > 0 ? contacts[0] : null;\n\n// Get custom fields safely\nconst customFields = contact ? contact.customFields : [];\n\n// Lookup function for custom fields\nfunction findValueById(arr, id) {\n  const field = arr.find(f => f.id === id);\n  return field ? field.value : \"\";\n}\n\n// Extract values from custom fields\nconst call1 = findValueById(customFields, \"KeAqFtPCLbvwmfFTQYQe\");\nconst call2 = findValueById(customFields, \"yNW5UyI2UeXaMMEUEoNj\");\nconst call3 = findValueById(customFields, \"CDyptcCL0687sSwxgOYB\");\nconst chat = findValueById(customFields, \"d1E7AQI1N9V6lyzdB4qw\");\nconst reactiveCallHistory = findValueById(customFields, \"jr9ZXook1RcVoGmiuqTp\");\n\n// Contact basic details\nconst contactName = contact ? contact.contactName : \"customer\";\nconst email = contact ? contact.email : \"\";\nconst phoneNumber = contact ? contact.phone : \"\";\n\n// Values coming from SET_Parameter node\nconst paramNode = $('SET_Parameter').first().json;\nconst retellPrompt = paramNode.Retell_Inbound_Prompt || \"\";\nconst botPersona = paramNode.Bot_Persona || \"\";\n\n// Final output\nreturn {\n  call_inbound: {\n    dynamic_variables: {\n      contact_name: contactName,\n      email,\n      phoneNumber,\n      call1,\n      call2,\n      call3,\n      chat,\n      reactiveCallHistory,\n      retellPrompt,\n      botPersona\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -240
      ],
      "id": "2d410ee1-3d58-453b-b877-1de585942558",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        576,
        -240
      ],
      "id": "e46ea019-a777-4e49-bc4f-e3fb9145eeca",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ce7314-9bb9-4d2c-a09a-9065cb2d8d64",
              "name": "from_number",
              "value": "={{ $('Webhook').item.json.body.call_inbound.from_number }}",
              "type": "string"
            },
            {
              "id": "36a68416-5472-4ce6-8417-66aeebd8a827",
              "name": "1Prompt_Credential",
              "value": "={{ $('Get API Credentials1').item.json.data[0].GHL_API_Key }}",
              "type": "string"
            },
            {
              "id": "e6373bad-380d-41f6-ba66-84eaa8167973",
              "name": "Bot_Persona",
              "value": "={{ $json.data[0].Prompt_Name }}\n\n{{ $json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "5d946c19-323a-4f5d-b414-203a439df5e4",
              "name": "Retell_Inbound_Prompt",
              "value": "={{ $json.data[1].Prompt_Name }}\n\n{{ $json.data[1].Content }}",
              "type": "string"
            },
            {
              "id": "aeeefba0-d6ac-4a4a-8645-66da63ee3af0",
              "name": "location_Id",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Location_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -240
      ],
      "id": "a5022c89-9ed2-4452-9bd9-d05f4ed3a045",
      "name": "SET_Parameter"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1504,
        -272
      ],
      "id": "f97a9cbe-ac21-4da2-97be-ea815cf5746b",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        -272
      ],
      "id": "27182a92-226b-4307-b26f-5f3b9074c943",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        -272
      ],
      "id": "2899e665-d5e8-47f3-b9e1-1158e87da110",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -272
      ],
      "id": "ccb1c3a4-46f3-44d0-8bc5-23bc4afc9e75",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -272
      ],
      "id": "79d6b4f1-3ab1-4529-bcfe-141f5f4cc4c6",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -272
      ],
      "id": "53a4520b-d97d-46e5-b65b-c229c2730cf8",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -272
      ],
      "id": "5116f0d4-b5ec-4c20-906d-1c75c4e20e13",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -272
      ],
      "id": "1d6d0191-3ac9-4ef5-96ba-a463215c8e3d",
      "name": "Sticky Note29",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -272
      ],
      "id": "8cc84680-00a7-4eac-ad15-81df25c3fc98",
      "name": "Sticky Note30",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Get the data array from Supabase response\nconst input = $input.all()[0].json;\n\n// Check if data exists and is an array\nlet prompts = [];\nif (input.data && Array.isArray(input.data)) {\n  prompts = input.data;\n} else if (Array.isArray(input)) {\n  prompts = input;\n} else {\n  prompts = $input.all().map(item => item.json);\n}\n\n// Sort by Id in ascending order (0-11) - note the capital 'I'\nprompts.sort((a, b) => {\n  return a.Id - b.Id;\n});\n\n// Return in N8N format\nreturn prompts.map(prompt => ({ json: prompt }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -240
      ],
      "id": "bc043d72-0d08-4797-9438-dc2834995b99",
      "name": "Structured_Prompt"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -272
      ],
      "id": "3f567a22-673a-4f9b-ab08-80a1af62e6b0",
      "name": "Sticky Note31",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "API_Management",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        -240
      ],
      "id": "5f4ce5c7-e56e-4d28-abe2-3304d3f130de",
      "name": "Get API Credentials",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1008,
        -240
      ],
      "id": "747ee1c9-bd34-41c1-ad5a-154532e9df88",
      "name": "Get API Credentials1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -336,
        -240
      ],
      "id": "e999f9ae-03c3-4654-939a-03713d591ec2",
      "name": "Agg_Set_Prompts1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Voice_Prompts",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -784,
        -240
      ],
      "id": "8e94effb-3a11-47f3-8682-efc25f14f292",
      "name": "Get Prompts",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/contacts/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $json.location_Id }}"
            },
            {
              "name": "limit",
              "value": "=1"
            },
            {
              "name": "query",
              "value": "={{ $json.from_number }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json[\"1Prompt_Credential\"] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        -240
      ],
      "id": "00054f7a-7c4b-4e4c-98c7-9ecae3b22953",
      "name": "Find Contact in GHL",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "axios/1.13.2",
            "content-length": "441",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "100.20.5.228",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "100.20.5.228",
            "x-retell-signature": "v=1765481470708,d=95f1ec013c118f9b19e3a3637e6e3f8da20fcc6fe0e7e1b8cd911d9677e40039"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "call_inbound",
            "call_inbound": {
              "agent_id": "agent_b1f03b0a117414d0af8fb6abed",
              "agent_version": 17,
              "from_number": "+917654257862",
              "to_number": "+16504147648",
              "custom_sip_headers": {
                "x-lk-call-info": "Cgs1NC4yNDQuNTEuMhDEJxgB",
                "x-lk-real-ip": "54.244.51.2",
                "x-lk-transport": "udp",
                "x-twilio-accountsid": "YOUR_TWILIO_ACCOUNT_SID",
                "x-twilio-callsid": "CA7bf97f46599cf330b9b0f5388edaba05",
                "x-twilio-verstat": "TN-Validation-Passed-C"
              }
            }
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/get-leads-details",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get API Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_Parameter": {
      "main": [
        [
          {
            "node": "Find Contact in GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Prompt": {
      "main": [
        [
          {
            "node": "Agg_Set_Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Credentials": {
      "main": [
        [
          {
            "node": "Get API Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Credentials1": {
      "main": [
        [
          {
            "node": "Get Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg_Set_Prompts1": {
      "main": [
        [
          {
            "node": "SET_Parameter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompts": {
      "main": [
        [
          {
            "node": "Structured_Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact in GHL": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "658a2d17-d80d-4823-8049-0515b9342870",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "LnOaGqzy6gaT9iqe",
  "tags": []
}