frontend/public/workflows/voice-sales-rep/Make_Retell_Outbound_Call.json
{
  "name": "Make Retell Outbound Call",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.Retell_API_Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $json.Retell_agent_id }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"firstName\": \"{{ $('Webhook').item.json.body.name }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n    \"phoneNumber\": \"{{ $('Webhook').item.json.body.phone }}\",\n    \"botPersona\": {{ JSON.stringify($json.Bot_Persona, null, 2) }},\n    \"retellPrompt\": {{ JSON.stringify($json.Retell_Outbound_Prompt) }},\n    \"bookingFunction\": {{ JSON.stringify($json.Voice_Booking_Function, null, 2) }}\n  },\n  \"from_number\": \"{{ $json.From_Number }}\",\n  \"to_number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"direction\": \"outbound\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -704
      ],
      "id": "dcc850d6-55de-4898-81a4-2dc2c49ed7e0",
      "name": "Make_Call_to_Retell"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -704
      ],
      "id": "8328817b-28cf-4743-88a0-3db2335af6b2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "retell-outbound-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -368
      ],
      "id": "041e4b54-3cd3-456e-bb51-66519331bb4e",
      "name": "Webhook",
      "webhookId": "5c716d01-9529-48f6-b5be-d7bec8d797f2"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        -400
      ],
      "id": "17b4c477-b0c2-4303-834d-92e76067b0c7",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -400
      ],
      "id": "95a63077-c496-467a-a2fa-521dd30bbf40",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1328,
        -416
      ],
      "id": "4a81b86e-8612-4384-9ae1-6bdd6f82f541",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -736
      ],
      "id": "e0cffc1c-4d8f-440c-9863-25d786336aac",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -736
      ],
      "id": "ba4f560c-6621-458f-9c54-46d597d57029",
      "name": "Sticky Note29",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        -400
      ],
      "id": "5c5eb1bc-1e96-43d2-8c18-9f4c914bb32c",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "API_Management",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        -368
      ],
      "id": "611b91c7-ad2c-4c5f-bd34-56580f548f96",
      "name": "Get_API_Credentials",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Voice_Prompts",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        -368
      ],
      "id": "3b6aa375-1ff1-4a35-b8df-c61f48996f60",
      "name": "Get_Retell_Prompts",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the data array from Supabase response\nconst input = $input.all()[0].json;\n\n// Check if data exists and is an array\nlet prompts = [];\nif (input.data && Array.isArray(input.data)) {\n  prompts = input.data;\n} else if (Array.isArray(input)) {\n  prompts = input;\n} else {\n  prompts = $input.all().map(item => item.json);\n}\n\n// Sort by Id in ascending order (0-11) - note the capital 'I'\nprompts.sort((a, b) => {\n  return a.Id - b.Id;\n});\n\n// Return in N8N format\nreturn prompts.map(prompt => ({ json: prompt }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -368
      ],
      "id": "b4fcc63f-7371-4d91-b78a-b504fc453777",
      "name": "Structured_Prompt"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -400
      ],
      "id": "ec1e39e7-98b3-4018-a45f-d3bec8cd3582",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -400
      ],
      "id": "f02f368d-5da8-419e-9071-9d43399d0aea",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        -368
      ],
      "id": "22df8327-12d8-4510-a758-b01403fd0e7d",
      "name": "Get_API_Credentials1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -400
      ],
      "id": "edae9e9c-7fbe-419b-8a7e-5377b412c559",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        112,
        -368
      ],
      "id": "264dcc74-005e-417b-a1bd-d62599528ff9",
      "name": "Get_Retell_Prompts1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b5c74f-f316-4307-97c4-01afa70d3247",
              "name": "Retell_API_Key",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_API_Key }}",
              "type": "string"
            },
            {
              "id": "81bf9a94-a05a-4d2e-a4ca-c9f4202fde48",
              "name": "Retell_agent_id",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].AgentId_1 }}",
              "type": "string"
            },
            {
              "id": "fecccb16-f205-4fba-a28e-0f9bdc4c54d8",
              "name": "From_Number",
              "value": "={{ $json.Retell_Number }}",
              "type": "string"
            },
            {
              "id": "58438822-b039-416d-bb27-2dfac4b014bc",
              "name": "Bot_Persona",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[0].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "f1be7253-1635-4fee-890a-f6137aa751cc",
              "name": "Retell_Outbound_Prompt",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[1].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[1].Content }}",
              "type": "string"
            },
            {
              "id": "01869e51-d8fc-40b3-b64f-48a464b154f0",
              "name": "Voice_Booking_Function",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[5].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[5].Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -704
      ],
      "id": "dd344c0a-2d4a-4842-8a89-c7d3995ac6db",
      "name": "SET_Parameter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "1",
                    "rightValue": "={{ $('Webhook').item.json.query.agent_number }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e13aa48e-e845-41fb-b2a7-cc41d1a7c0b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b644965b-89bf-4199-87d7-d8acd4019a26",
                    "leftValue": "2",
                    "rightValue": "={{ $('Webhook').item.json.query.agent_number }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13490a02-aae2-4b6d-9f5f-72aabcd6ae20",
                    "leftValue": "3",
                    "rightValue": "={{ $('Webhook').item.json.query.agent_number }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a68e39b-d1a7-4b26-a197-2003186ac768",
                    "leftValue": "4",
                    "rightValue": "={{ $('Webhook').item.json.query.agent_number }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agent_4"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1376,
        -400
      ],
      "id": "62019f88-d7a4-43af-bee0-b17d64fed812",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -736
      ],
      "id": "6eadd113-1b11-447f-928e-53479ed4b130",
      "name": "Sticky Note30",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -528
      ],
      "id": "d798fd1d-e5d2-4c27-bf20-235d38e30bf7",
      "name": "Sticky Note31",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.Retell_API_Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $json.Retell_agent_id }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"firstName\": \"{{ $('Webhook').item.json.body.name }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n    \"phoneNumber\": \"{{ $('Webhook').item.json.body.phone }}\",\n    \"botPersona\": {{ JSON.stringify($json.Bot_Persona, null, 2) }},\n    \"retellPrompt\": {{ JSON.stringify($json.Retell_Outbound_Prompt) }},\n    \"bookingFunction\": {{ JSON.stringify($json.Voice_Booking_Function, null, 2) }}\n  },\n  \"from_number\": \"{{ $json.From_Number }}\",\n  \"to_number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"direction\": \"outbound\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -496
      ],
      "id": "057e4dd1-9caa-4b4a-ac7c-7185489d7d96",
      "name": "Make_Call_to_Retell1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -496
      ],
      "id": "52983bda-fc38-410b-8dc6-a2ca074d602e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -528
      ],
      "id": "df5aa002-2e21-42a2-8bd8-71877eaae7a3",
      "name": "Sticky Note32",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -528
      ],
      "id": "e3aedfbe-7b01-4955-a6ad-1d60ec2f5fb4",
      "name": "Sticky Note33",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.Retell_API_Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $json.Retell_agent_id }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"firstName\": \"{{ $('Webhook').item.json.body.name }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n    \"phoneNumber\": \"{{ $('Webhook').item.json.body.phone }}\",\n    \"botPersona\": {{ JSON.stringify($json.Bot_Persona, null, 2) }},\n    \"retellPrompt\": {{ JSON.stringify($json.Retell_Outbound_Prompt) }},\n    \"bookingFunction\": {{ JSON.stringify($json.Voice_Booking_Function, null, 2) }}\n  },\n  \"from_number\": \"{{ $json.From_Number }}\",\n  \"to_number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"direction\": \"outbound\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -240
      ],
      "id": "16738517-8e7f-442f-96e9-82256d9f2779",
      "name": "Make_Call_to_Retell2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -240
      ],
      "id": "3838e7a3-25c9-4659-b665-f7061874ab4f",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -272
      ],
      "id": "e4f539ad-fe53-4e68-828a-bfcbcadc9b26",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -272
      ],
      "id": "fa154855-e76f-477d-84f7-8c636d15a372",
      "name": "Sticky Note35",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b5c74f-f316-4307-97c4-01afa70d3247",
              "name": "Retell_API_Key",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_API_Key }}",
              "type": "string"
            },
            {
              "id": "81bf9a94-a05a-4d2e-a4ca-c9f4202fde48",
              "name": "Retell_agent_id",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].AgentId_3 }}",
              "type": "string"
            },
            {
              "id": "fecccb16-f205-4fba-a28e-0f9bdc4c54d8",
              "name": "From_Number",
              "value": "={{ $json.Retell_Number }}",
              "type": "string"
            },
            {
              "id": "9e6456fa-ec43-40ea-bde9-a8e886963451",
              "name": "Bot_Persona",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[0].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "f1be7253-1635-4fee-890a-f6137aa751cc",
              "name": "Retell_Outbound_Prompt",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[3].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[3].Content }}",
              "type": "string"
            },
            {
              "id": "c9094938-1ef6-403c-86be-b880b16cbe89",
              "name": "Voice_Booking_Function",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[5].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[5].Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -240
      ],
      "id": "43ce2f4e-ca79-436a-a112-a11be6fcd568",
      "name": "SET_Parameter2"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -272
      ],
      "id": "037eea9d-4c13-43b0-a560-c9af2e977402",
      "name": "Sticky Note36",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.Retell_API_Key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"{{ $json.Retell_agent_id }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"firstName\": \"{{ $('Webhook').item.json.body.name }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.email }}\",\n    \"phoneNumber\": \"{{ $('Webhook').item.json.body.phone }}\",\n    \"botPersona\": {{ JSON.stringify($json.Bot_Persona, null, 2) }},\n    \"retellPrompt\": {{ JSON.stringify($json.Retell_Outbound_Prompt) }},\n    \"bookingFunction\": {{ JSON.stringify($json.Voice_Booking_Function, null, 2) }}\n  },\n  \"from_number\": \"{{ $json.From_Number }}\",\n  \"to_number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"direction\": \"outbound\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -32
      ],
      "id": "36c3ae39-0df8-4c36-9e69-7f20b4862983",
      "name": "Make_Call_to_Retell3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2080,
        -32
      ],
      "id": "b86f96db-9b14-4c75-92a1-2e946a441edc",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        -64
      ],
      "id": "f95075d1-44d8-49c3-b782-24537d7f8cb6",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        -64
      ],
      "id": "99941b19-299d-47da-b147-e4ca829caf11",
      "name": "Sticky Note38",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b5c74f-f316-4307-97c4-01afa70d3247",
              "name": "Retell_API_Key",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_API_Key }}",
              "type": "string"
            },
            {
              "id": "81bf9a94-a05a-4d2e-a4ca-c9f4202fde48",
              "name": "Retell_agent_id",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].AgentId_1 }}",
              "type": "string"
            },
            {
              "id": "fecccb16-f205-4fba-a28e-0f9bdc4c54d8",
              "name": "From_Number",
              "value": "={{ $json.Retell_Number }}",
              "type": "string"
            },
            {
              "id": "8a471b7f-63be-401d-83cc-39788c05bc59",
              "name": "Bot_Persona",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[0].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "f1be7253-1635-4fee-890a-f6137aa751cc",
              "name": "Retell_Outbound_Prompt",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[4].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[4].Content }}",
              "type": "string"
            },
            {
              "id": "5eead66c-c0f2-48b3-bfcc-a79af7d7c436",
              "name": "Voice_Booking_Function",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[5].Prompt_Name }} \n\n{{ $('Get_Retell_Prompts1').item.json.data[5].Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -32
      ],
      "id": "a7c5f0ca-60b3-427a-8163-3b63038efd3e",
      "name": "SET_Parameter3"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -64
      ],
      "id": "fb663a28-e095-4376-89fe-2865640a06c3",
      "name": "Sticky Note39",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3b5c74f-f316-4307-97c4-01afa70d3247",
              "name": "Retell_API_Key",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_API_Key }}",
              "type": "string"
            },
            {
              "id": "81bf9a94-a05a-4d2e-a4ca-c9f4202fde48",
              "name": "Retell_agent_id",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].AgentId_1 }}",
              "type": "string"
            },
            {
              "id": "fecccb16-f205-4fba-a28e-0f9bdc4c54d8",
              "name": "From_Number",
              "value": "={{ $json.Retell_Number }}",
              "type": "string"
            },
            {
              "id": "1b5341e2-27eb-4f46-a202-3a921ac04394",
              "name": "Bot_Persona",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[0].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "f1be7253-1635-4fee-890a-f6137aa751cc",
              "name": "Retell_Outbound_Prompt",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[2].Prompt_Name }}\n\n{{ $('Get_Retell_Prompts1').item.json.data[2].Content }}",
              "type": "string"
            },
            {
              "id": "3d5b2072-1826-4145-be47-f0de5e36316d",
              "name": "Voice_Booking_Function",
              "value": "={{ $('Get_Retell_Prompts1').item.json.data[5].Prompt_Name }} \n\n{{ $('Get_Retell_Prompts1').item.json.data[5].Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -496
      ],
      "id": "5502f195-afd6-4f8f-861a-8511b5244561",
      "name": "SET_Parameter1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.phone }}",
                    "rightValue": "+1",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "25236dc4-e9d1-431d-9bbf-01e54fde4d7c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "US_Number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6f00bbd-e7b2-47e2-bde5-836fd461aabc",
                    "leftValue": "={{ $('Webhook').item.json.body.phone }}",
                    "rightValue": "+44",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UK_Number"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        784,
        -368
      ],
      "id": "0a2cebc6-fc22-43ab-a024-f11c959d5778",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -400
      ],
      "id": "b7d1494e-1e9b-4dac-b6e5-9eb8297171d3",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6857e9c-904f-4edc-87e5-8af1dd8c77f9",
              "name": "Retell_Number",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_Phone_1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -560
      ],
      "id": "e6b56fd8-9554-4548-99ae-624ccf4c265e",
      "name": "Set_US_Number"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -592
      ],
      "id": "47294dbe-98fb-4a24-a2f2-ae21cecb7e98",
      "name": "Sticky Note6",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -208
      ],
      "id": "da623a14-a8d2-4b8e-8e2f-21b01aa2d431",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6857e9c-904f-4edc-87e5-8af1dd8c77f9",
              "name": "Retell_Number",
              "value": "={{ $('Get_API_Credentials1').item.json.data[0].Retell_Phone_2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -176
      ],
      "id": "9ac50d4a-ec7d-42b8-b0fc-6137036d911c",
      "name": "Set_UK_Number"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "axios/0.21.4",
            "content-length": "110",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-forwarded-for": "34.134.139.98",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "34.134.139.98",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {
            "agent_number": "2"
          },
          "body": {
            "id": "xKm6x4YzEdIFgYWZsZwB",
            "name": "Harsh Agrawal",
            "email": "mindsightai11@gmail.com",
            "phone": "+917654257862"
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/retell-outbound-call",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Make_Call_to_Retell": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get_Retell_Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials": {
      "main": [
        [
          {
            "node": "Get_API_Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Retell_Prompts": {
      "main": [
        [
          {
            "node": "Structured_Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Prompt": {
      "main": [
        [
          {
            "node": "Get_Retell_Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Retell_Prompts1": {
      "main": [
        [
          {
            "node": "Get_API_Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_Parameter": {
      "main": [
        [
          {
            "node": "Make_Call_to_Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SET_Parameter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_Parameter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_Parameter2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET_Parameter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make_Call_to_Retell1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make_Call_to_Retell2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_Parameter2": {
      "main": [
        [
          {
            "node": "Make_Call_to_Retell2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make_Call_to_Retell3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_Parameter3": {
      "main": [
        [
          {
            "node": "Make_Call_to_Retell3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET_Parameter1": {
      "main": [
        [
          {
            "node": "Make_Call_to_Retell1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set_US_Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_UK_Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_US_Number": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_UK_Number": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fa5e684-091a-448a-a91a-73bd62a925b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "eaL7VaqVOhfxxETF",
  "tags": []
}