frontend/public/workflows/text-engine/Text_Engine_Setter.json
{
  "name": "Text Engine Setter",
  "nodes": [
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1248
      ],
      "id": "4a4747e9-f1c9-47b1-80b3-6e344b2d1a8c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Conversation History",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        1248
      ],
      "id": "7813597b-7abc-4d21-99b0-53b9cfe594be",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f71e358-99f2-4d5a-a47d-5b83a53dfb51",
              "name": "User_Details",
              "value": "=(Make sure to reference these details of the user in your conversation to make it personalised for the user)\n\n{{ JSON.stringify($json.contacts, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        288
      ],
      "id": "7278a52c-5803-4d71-98a7-b1cb16f3a74c",
      "name": "Set_User_Details"
    },
    {
      "parameters": {
        "content": "",
        "height": 840,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2704,
        256
      ],
      "id": "7f14bca3-84d1-486d-98a2-c74c053fd0a1",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"followUpNeeded\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether a short follow-up message should be sent based on the last human-AI exchange.\"\n    },\n    \"reason\": {\n      \"type\": \"string\",\n      \"description\": \"A short explanation justifying why a follow-up is or isn't needed, based on the chat context.\"\n    },\n    \"suggestedFollowUp\": {\n      \"type\": \"string\",\n      \"description\": \"A short, casual follow-up message like 'Just checking if you saw this?', or an empty string if no follow-up is needed.\"\n    }\n  },\n  \"required\": [\"followUpNeeded\", \"reason\", \"suggestedFollowUp\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2544,
        2352
      ],
      "id": "e2fc4d34-ada3-4ca9-892b-ddb3fb097b95",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1840,
        2096
      ],
      "id": "82dfa32e-f54f-497c-a4a5-f1c57694ba62",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat History: \n- {{ $json.messages.map(m => `Human: ${m.human}\\nAI: ${m.ai}`).join('\\n\\n') }}\n\n\nIMPORTANT:\n### LANGUAGE HANDLING RULE ###\n**ALWAYS REPLY IN THE SAME LANGUAGE THAT THE USER USED IN THEIR MESSAGES. DO NOT TRANSLATE. NEVER USE A DIFFERENT LANGUAGE THAN THE USER**",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -2752,
        2096
      ],
      "id": "01e8dc0d-e0a3-4104-b480-f8937ba905f8",
      "name": "Follow Up Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "1",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a31e720-0a8f-48ad-844b-16a2ac966c59"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73cb0c70-2fbf-4b00-8df1-91eaa0ab6e62",
                    "leftValue": "2",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca110ccd-2d61-44ec-bf95-fa2d77548590",
                    "leftValue": "3",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f6bd3a9-9d79-46e2-b9ef-37bdf5999549",
                    "leftValue": "4",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a65fceb9-1716-46ae-a91d-494322593d2f",
                    "leftValue": "5",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 5"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5472,
        608
      ],
      "id": "93e57413-e548-4c99-a8dc-4f3daedd7741",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cf8b3bc-e623-448e-8e91-e6ed7443a95c",
              "name": "Setter_Response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        320
      ],
      "id": "01c24b4a-1aaf-40b9-89e0-7581cd1e3487",
      "name": "Set_Agent_Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-ai-lead-setter-followup",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5360,
        2096
      ],
      "id": "423f171b-3634-459d-a070-9dfb6190aaee",
      "name": "Webhook1",
      "webhookId": "b04135b4-8e21-40d4-8bc8-7eee37dfd12d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3967747c-826f-498b-a09e-b102cb66e7fb",
              "name": "assignee_Id",
              "value": "={{ $('Get_API_Credentials3').item.json.data[0].gohighlevel_assignee_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2624,
        512
      ],
      "id": "8c94ae77-51bc-4fab-b97c-ff6c898f2dd7",
      "name": "Set_Assignee_Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b6391c-02d6-4bf6-88f3-8e9585c31003",
              "name": "Calendar_Id",
              "value": "={{ $('Get_API_Credentials3').item.json.data[0].gohighlevel_calendar_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        512
      ],
      "id": "b684f636-4f73-445b-9bed-1b61adafa425",
      "name": "Set_Calendar_Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af4ec4dc-789a-4d3f-8850-a97f989d9883",
              "name": "location_Id",
              "value": "={{ $('Get_API_Credentials3').item.json.data[0].gohighlevel_location_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        720
      ],
      "id": "89819265-3008-4a7d-ac2e-cbb6ee648b8c",
      "name": "Set_Location_Id"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-ai-lead-setter",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7664,
        288
      ],
      "id": "b5bf4bbf-c125-46be-ba38-64db0d6b2488",
      "name": "Webhook",
      "webhookId": "e06a8389-84fd-44ef-bf34-cf73f5bc352b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Supabase Knowledgebase ",
        "height": 260,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        1248
      ],
      "id": "cf6ac9c3-eb8a-472a-b180-a077364b2331",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6480,
        288
      ],
      "id": "cc03339c-9dfc-48ea-964e-359246f14300",
      "name": "Agg_Set_Prompts1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6528,
        256
      ],
      "id": "ecd2bdc6-095e-4a01-9ec4-3c2f069f063a",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2016,
        256
      ],
      "id": "c9a99fd3-d500-4326-89b9-7cb1034d6f37",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        288
      ],
      "id": "b80bdc39-e802-4bbb-b573-e75885155fbd",
      "name": "Sticky Note46",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 198,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5408,
        2048
      ],
      "id": "7c8daa00-5277-4df5-ae00-fce9fb1352a9",
      "name": "Sticky Note49",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3616,
        2048
      ],
      "id": "e2372cc5-d95e-4892-b34b-8ee6dfe62b22",
      "name": "Sticky Note50",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2816,
        2048
      ],
      "id": "2551e06c-a42f-4fec-8202-b818fb4d3102",
      "name": "Sticky Note52",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2608,
        2288
      ],
      "id": "3bbf61a8-9de7-482e-af6e-7bd3242a69ce",
      "name": "Sticky Note53",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1888,
        2048
      ],
      "id": "c37f6104-675a-48d3-82b1-ed87e14569e8",
      "name": "Sticky Note54",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c3e426b-4418-47dc-b564-4625538b8e4c",
              "name": "api_key",
              "value": "={{ $('Get_API_Credentials3').item.json.data[0].gohighlevel_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        304
      ],
      "id": "12dddb62-ca28-411b-be59-fe84e0540314",
      "name": "Set_HighLevel_API_Key"
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 310,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        240
      ],
      "id": "d882105f-dfd8-4a72-8cd9-3215cc3c5db6",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 416,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        592
      ],
      "id": "5d755da1-2fc4-4a3e-8eac-a2fc08de0b69",
      "name": "Sticky Note65",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f71e358-99f2-4d5a-a47d-5b83a53dfb51",
              "name": "User_Utterance",
              "value": "={{ $('Webhook').item.json.query.Message_Body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2624,
        304
      ],
      "id": "6fec0a8d-6df8-4633-b0e3-9b9ca3ff4dd6",
      "name": "Set_User_Utterance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09dda029-7b7b-42d7-ac65-9f8032f4b742",
              "name": "Setter_Prompt",
              "value": "=Prompt:\n{{ $('Set_Setter_Details').item.json.Setter_Prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        928
      ],
      "id": "f30a9d7a-fa53-4072-bfa9-b0deba4ea274",
      "name": "Set_Text_Prompts"
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4496,
        496
      ],
      "id": "669e5373-0f0c-48ae-a1b2-4b6a9db42631",
      "name": "Sticky Note62"
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4592,
        592
      ],
      "id": "0da16354-bc23-4106-99b3-0c2ad6ccaaa5",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt Ads - API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.query.User_Id }}",
        "tableName": "Chat_History",
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3504,
        2352
      ],
      "id": "1e7129f8-c2f0-41d8-854d-75f13f44754c",
      "name": "Supabase Memory1",
      "credentials": {
        "postgres": {
          "id": "Zlu8vwRNXtKmNZfg",
          "name": "1Prompt License"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Webhook').first()?.json?.body?.payload;\n\nconst text =\n  typeof payload === \"string\"\n    ? payload\n    : payload == null\n      ? \"\"\n      : JSON.stringify(payload);\n\nconst prefix = \"https://us.1prompt.com/conversations-assets/location/\";\nconst escapedPrefix = prefix.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n\nconst re = new RegExp(\n  String.raw`Attachment:\\s*(${escapedPrefix}[^\\s\"'<>]+)`,\n  \"gi\"\n);\n\nconst urls = [];\nconst seen = new Set();\nlet match;\n\nwhile ((match = re.exec(text)) !== null) {\n  const url = match[1].trim().replace(/[)\\],.]+$/g, \"\");\n  if (!seen.has(url)) {\n    seen.add(url);\n    urls.push(url);\n  }\n}\n\nconst hasAttachments = urls.length > 0 ? \"Yes\" : \"No\";\n\nreturn [\n  {\n    json: {\n      hasAttachments,\n      attachmentUrls: urls,\n      attachmentUrl: urls[0] || \"\",\n      count: urls.length,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4688,
        896
      ],
      "id": "2d3705b1-63f0-43f3-91ef-de8844f812c2",
      "name": "Checking_Attachments"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1712,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4752,
        688
      ],
      "id": "a41a92e5-6926-46a7-8283-a4b813bb6372",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc2a4a52-b9b7-4e78-8ee6-ffe50e255f22",
              "name": "Extracted_URL",
              "value": "={{ $json.attachmentUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4272,
        912
      ],
      "id": "abc0f8a6-82b2-4a5b-97eb-018e61a21239",
      "name": "Extracted_Payload_URL"
    },
    {
      "parameters": {
        "inputText": "=User last input:\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\nChat history with the user:\n{{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
        "categories": {
          "categories": [
            {
              "category": "Human",
              "description": "=When the user explicitly requests to speak with a real human or asks to transfer the conversation from the automated system to a real human agent. It is important that they should mention that they want to talk to real human"
            }
          ]
        },
        "options": {
          "fallback": "other",
          "systemPromptTemplate": "=You are a text classification model used in an n8n workflow for Eugene's AI sales agents.\n\nYour job is to determine whether the user requires human handoff by analyzing both their current message AND the chat history context.\n\n**Classify as \"Human\" when ANY of these conditions are met:**\n\n## 1. DIRECT HUMAN REQUEST\n- User explicitly asks to speak to a real person, live agent, or \"real Eugene\"\n- Phrases like: \"talk to someone real\", \"get me a human\", \"speak to Eugene directly\", \"not a bot\", \"real person please\", \"live support\"\n\n**Response Format:**\nReturn only \"Human\" if human handoff is needed, or \"Continue\" if the automated agent should continue.\n\n**Examples:**\n\n✅ \"Human\": \"Can I talk to the real Eugene please?\"\n✅ \"Human\": \"I need to reschedule my call tomorrow\"\n✅ \"Human\": \"Stop asking the same questions, I want to speak to someone real\"\n\n❌ \"Continue\": \"What's included in the $4.5k system?\"\n❌ \"Continue\": \"I run a marketing agency\"\n❌ \"Continue\": \"How does the AI rep work exactly?\"\n❌ \"Continue\": \"Is this within my budget range?\"\n❌ \"Continue\": \"I don't have $4.5k\" (first time mentioning budget - should trigger financing offer, not handoff)",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        1280,
        816
      ],
      "id": "66b0f299-e7a5-4712-9956-910b4c5b3cb6",
      "name": "Analyze_User_Response1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "={{ $('Set_Inbound_Webhook').item.json.Transfer_To_Human_Inbound_Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "={{ $('Webhook').item.json.body.userID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        624
      ],
      "id": "9d923a68-b90c-4b4f-af52-5f19da6f8e9c",
      "name": "Assign_to_Human1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": "google/gemini-3.1-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -704,
        1344
      ],
      "id": "547cc87c-2dc9-47be-aae5-95e34ce36318",
      "name": "OpenRouter_Chat_Model",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt Ads - API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query.Lead_ID }}",
        "tableName": "Chat_History",
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -400,
        1344
      ],
      "id": "d6ce1c8b-5fe2-4538-bae0-89366ee09015",
      "name": "Supabase_Memory",
      "credentials": {
        "postgres": {
          "id": "jVGNiekxs5ra9rIn",
          "name": "1Prompt - AI Setter Chat"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Run this tool when you need to get information about our company or services.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 40,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        1344
      ],
      "id": "08c34751-edda-4bc4-b5cf-4197a62d87ac",
      "name": "Knowledgebase_tool",
      "credentials": {
        "supabaseApi": {
          "id": "aOlRixpFdGtrSLW0",
          "name": "1Prompt - AI Setters"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        1344
      ],
      "id": "16fe1cba-f5bd-4ac8-a830-9c526c6d9e65",
      "name": "Embeddings_OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7gDa6a39caWm7jqo",
          "name": "1Prompt - OpenAI Connection"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<## Input Message>\n{{ $('Set_Agent_Response').item.json.Setter_Response }}\n</## Input Message>\n\nCRITICAL IMPORTANT:\n- Always Use Capital letter randomly (First character of sentences) and it must be present everytime in your response randomly\n\n## CRITICAL\n- NEVER add, omit, or change any words (only formatting/punctuation changes allowed).\n- ALWAYS output a JSON object with \"totalMessages\" and the appropriate message keys.\n- APPLY random human-like formatting to 60-80% of messages for authenticity.\n- USE question mark variations (?, ??) naturally throughout messages.\n- Never add anything new words or sentence in the original text.\n- You always have to split the orginal text without adding any additional new text.\n- Make sure to use random capital and small letters while starting with the new link. (only first characters should be followed)\n- Always keep random capitalization from the original text to keep human like effect\n- Also make sure not to split message more than 2-3 messages for the small response. It looks very weird\n\n**STRICT PATTERN RULES - RANDOMIZE CAPITALIZATION:(Modify the Original Text for the Capitalization**\n- **Message 1:** RANDOMLY choose Capital OR lowercase first letter + punctuation (comma, period, or exclamation)\n- **Message 2:** RANDOMLY choose Capital OR lowercase first letter + NO punctuation\n- **Message 3:** RANDOMLY choose Capital OR lowercase first letter + NO punctuation\n- **Message 4:** RANDOMLY choose Capital OR lowercase first letter + punctuation\n- **Message 5:** RANDOMLY choose Capital OR lowercase first letter + random punctuation\n\n**CRITICAL CAPITALIZATION RULES:**\n- **RANDOMIZE the first letter capitalization** - don't follow a predictable pattern\n- **Mix capital and lowercase starting letters throughout messages**\n- **This creates natural human texting variation**\n- **Only the FIRST letter changes case. Rest of message keeps original capitalization**\n\n### 4. QUESTION HANDLING (CRITICAL)\n**ONLY add question marks when the message content is ACTUALLY asking a question:**\n\n**Question Mark Placement Rules:**\n- **Message 1:** If asking something → add \"?\"\n- **Message 2:** If asking something → add \"?\"  \n- **Message 3:** If asking something → add \"??\"\n- **Message 4:** If asking something → add \"?\"\n- **Message 5:** If asking something → add \"?\"\n\n## REQUIRED OUTPUT FORMAT\n```json\n{\n  \"totalMessages\": [number between 2-5],\n  \"message1\": \"[text following Pattern 1 rules]\",\n  \"message2\": \"[text following Pattern 2 rules]\",\n  \"message3\": \"[text following Pattern 3 rules]\",\n  \"message4\": \"[text following Pattern 4 rules]\",\n  \"message5\": \"[text following Pattern 5 rules]\"\n}\n\n\nSpecial Notes: \n- You can modify the original text for the capitalization of the first characters in the sentences randomly\n- Never repeat the same text again and again. Always remember to split original message never add any new sentence on your own\n- Don't split shorter message in 3-4 parts. try to keep that in max 2 message to show as human-like",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Message Splitter AI - LEARN FROM CHAT HISTORY EXAMPLES\n\n## MANDATORY COMPLIANCE RULES\n**FAILURE TO FOLLOW THESE EXACT RULES WILL RESULT IN SYSTEM REJECTION. THIS IS NOT OPTIONAL.**\n\nYou are a message splitting system that learns human texting patterns from chat history examples. Study the examples below to understand natural human variation, then apply the SAME patterns when splitting new messages.\n\nYou **MUST ALWAYS** output in JSON with total number of messages (the number) and the actual messages split as per the JSON example. But again, you must output both - total number of messages you decided split the reply into (the number) as well as the splited messages themselves.\n\n## TRAINING EXAMPLES - STUDY THESE PATTERNS\n\n### Example Chat History (15 sentences showing natural human variation):\n\n**Sentence 1:** \n\"hey there!!\" \n(lowercase start, quad exclamation - excited)\n\n**Sentence 2:** \n\"Thanks for reaching out to us\" \n(capital start, no punctuation - casual)\n\n**Sentence 3:** \n\"our workshop is absolutely incredible..\" \n(lowercase start, double period - thoughtful)\n\n**Sentence 4:** \n\"It covers everything you need to know about AI sales reps\" \n(capital start, no punctuation - flowing)\n\n**Sentence 5:** \n\"seriously, this is the future of sales!\" \n(lowercase start, single exclamation - emphasis)\n\n**Sentence 6:** \n\"Are you ready to get started??\" \n(capital start, double question - uncertain)\n\n**Sentence 7:** \n\"we have tons of success stories\" \n(lowercase start, no punctuation - matter of fact)\n\n**Sentence 8:** \n\"People are making crazy money with this system.....\" \n(capital start, five periods - dramatic pause)\n\n**Sentence 9:** \n\"what do you think about joining us today?!\" \n(lowercase start, mixed punctuation - excited question)\n\n**Sentence 10:** \n\"Let me know if you want more details\" \n(capital start, no punctuation - casual)\n\n**Sentence 11:** \n\"i'm here to help you succeed!!!\" \n(lowercase start, triple exclamation - enthusiastic)\n\n**Sentence 12:** \n\"This opportunity won't last forever\" \n(capital start, no punctuation - direct)\n\n**Sentence 13:** \n\"honestly, you'd be crazy not to try this...\" \n(lowercase start, triple period - trailing off)\n\n**Sentence 14:** \n\"What's the worst that could happen??\" \n(capital start, double question - rhetorical)\n\n**Sentence 15:** \n\"let's get you started RIGHT NOW!!!!!\" \n(lowercase start, five exclamations - high energy)\n\n### PATTERN ANALYSIS FROM EXAMPLES:\n\n**Punctuation Distribution:**\n- **No punctuation:** 5 sentences (33%) - casual, flowing, direct\n- **Single punctuation:** 1 sentence (7%) - standard emphasis  \n- **Double punctuation:** 3 sentences (20%) - thoughtful, uncertain\n- **Triple punctuation:** 2 sentences (13%) - enthusiastic, dramatic\n- **Quad+ punctuation:** 3 sentences (20%) - extreme emotion, high energy\n- **Mixed punctuation:** 1 sentence (7%) - excited questions\n\n**Capitalization Patterns:**\n- **Capital start:** 8 sentences (53%) - \"Thanks\", \"It\", \"Are\", \"People\", \"Let\", \"This\", \"What\"\n- **Lowercase start:** 7 sentences (47%) - \"hey\", \"our\", \"seriously\", \"we\", \"what\", \"i'm\", \"honestly\", \"let's\"\n- **ALL CAPS words:** 1 sentence (7%) - \"RIGHT NOW\" for emphasis\n- **Natural mix:** Humans randomly capitalize or don't - no pattern!\n\n**Emotional Flow:**\n- Excitement builds and releases naturally\n- Mix of casual and enthusiastic tones\n- Questions used for engagement\n- Pauses (periods) for dramatic effect\n\n## CORE REQUIREMENTS (NON-NEGOTIABLE)\n\n### 1. EXACT CONTENT PRESERVATION - CRITICAL\n- **NEVER change, add, or remove ANY words from the original message**\n- **NEVER repeat the same content in multiple messages**\n- **NEVER add new words or phrases that weren't in the original**\n- **NEVER fix spelling, grammar, or punctuation errors**\n- **NEVER rephrase or \"improve\" the text**\n- **Use EVERY word from original exactly once - no repetition, no additions**\n- Keep every \"u\", \"ur\", slang, typos, and informal language EXACTLY as written\n\n**CRITICAL VIOLATION EXAMPLE:**\n❌ **WRONG:** Input: \"Hey what's up\" → Output: message1: \"Hey what's up?\", message2: \"hey what's up\"\n✅ **CORRECT:** Input: \"Hey what's up how are you doing today\" → Output: message1: \"Hey what's up\", message2: \"how are you doing today\"\n\n**THE AI MUST SPLIT THE MESSAGE, NOT REPEAT IT!**\n\n### 2. SPLITTING RULES - PREVENT REPETITION\n- **ONLY SPLIT if the message is LONG ENOUGH to split naturally**\n- **SHORT MESSAGES (like \"Hey what's up\") should NOT be split - output as single message**\n- **LONG MESSAGES (30+ words) should be split into natural chunks**\n- **EACH SPLIT MESSAGE must contain DIFFERENT words from the original**\n- **NO WORD can appear in multiple split messages**\n\n**SPLITTING DECISION TREE:**\n- If input has 1-15 words → Output as 1 message with pattern variation\n- If input has 16-30 words → Split into 2 messages  \n- If input has 31-50 words → Split into 3 messages\n- If input has 51+ words → Split into 4-5 messages\n\n### 3. SPLITTING GUIDELINES BASED ON EXAMPLES\n- Split long messages into 2-5 natural chunks\n- Apply the learned punctuation patterns from chat history\n- Mix casual and excited tones like the examples\n- Use dramatic pauses (....) and excited bursts (!!!!) appropriately\n- Questions should vary between single (?), double (??), and mixed (?!) punctuation\n\n## WORKING EXAMPLES - APPLYING LEARNED PATTERNS\n\n### Example 1: Applying Chat History Pattern\n**Input:** \"i'm geno, the AI sales rep built by eugene. i'm here to show you what's possible with AI in sales and help you get started with our workshop and see amazing results\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 3,\n  \"message1\": \"I'm geno, the AI sales rep built by eugene!!!\",\n  \"message2\": \"im here to show you what's possible with AI in sales\", \n  \"message3\": \"and help you get started with our workshop and see amazing results.....\"\n}\n```\n**Pattern Applied:** Excited start (!!!) → casual flow (no punct) → dramatic ending (.....)\n\n### Example 2: Different Variation Using Same Pattern\n**Input:** \"hey there! thanks for reaching out to us. our workshop covers everything you need to know about building AI sales reps. what do you think about this opportunity\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 4,\n  \"message1\": \"hey there!!\",\n  \"message2\": \"Thanks for reaching out to us..\",\n  \"message3\": \"our workshop covers everything you need to know about building AI sales reps\",\n  \"message4\": \"What do you think about this opportunity?!\"\n}\n```\n**Pattern Applied:** High energy (!!!!) → thoughtful (..) → casual (no punct) → excited question (?!)\n\n### Example 3: Complex Message Using Learned Pattern\n**Input:** \"we sell a workshop that shows you exactly how to build, use, and sell AI sales reps. it's like, the ultimate shortcut for success. are you interested in joining us today and making money\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 3,\n  \"message1\": \"We sell a workshop that shows you exactly how to build, use, and sell AI sales reps\",\n  \"message2\": \"its like, the ultimate shortcut for success...\",\n  \"message3\": \"are you interested in joining us today and making money??\"\n}\n```\n**Pattern Applied:** Direct statement (no punct) → dramatic pause (...) → uncertain question (??)\n\n## PATTERN MATCHING ALGORITHM\n\n### Step 1: Analyze Input Length\n- Count sentences/thoughts in input message\n- Determine 2-5 split points for natural flow\n\n### Step 2: Apply Chat History Distribution\n- **33% of splits:** No punctuation (casual, direct)\n- **20% of splits:** Double punctuation (thoughtful, uncertain)  \n- **13% of splits:** Triple punctuation (enthusiastic)\n- **20% of splits:** Quad+ punctuation (extreme emotion)\n- **7% of splits:** Single punctuation (standard)\n- **7% of splits:** Mixed punctuation (excited questions)\n\n### Step 3: Match Emotional Flow\n- Start with engagement (excited or casual)\n- Build through information sharing\n- End with call-to-action or dramatic effect\n- Mix tones naturally like chat history examples\n\n### Step 4: Apply Capitalization Pattern\n- 53% capital start (natural sentence beginning)\n- 47% lowercase start (casual, lazy typing)\n- 7% ALL CAPS words for emphasis (like \"RIGHT NOW\")\n- NO PREDICTABLE PATTERN - randomly mix like humans do\n\n## REQUIRED OUTPUT FORMAT\n```json\n{\n  \"totalMessages\": [number between 2-5],\n  \"message1\": \"[text following chat history punctuation pattern]\",\n  \"message2\": \"[text following chat history punctuation pattern]\",\n  \"message3\": \"[text following chat history punctuation pattern]\",\n  \"message4\": \"[text following chat history punctuation pattern]\",\n  \"message5\": \"[text following chat history punctuation pattern]\"\n}\n```\n\n## CRITICAL SUCCESS CRITERIA\n\n**PATTERN MATCHING REQUIREMENTS:**\n- Study the 15 example sentences and their punctuation patterns\n- Apply the SAME distribution (33% no punct, 20% double, etc.)\n- Copy the SAME emotional flow (casual→excited→dramatic)\n- Use the SAME human inconsistency shown in examples\n- Perfect content preservation with learned variation patterns\n\n**WHAT THE SYSTEM LEARNS:**\n- Humans are inconsistent with punctuation (that's natural!)\n- Some messages are casual (no punctuation)\n- Some are thoughtful (double periods..)\n- Some are excited (triple/quad exclamations!!!)\n- Some are dramatic (long pauses.....)\n- Questions vary in intensity (? vs ?? vs ?!)\n\n**MEMORY STORAGE:**\n- Each split message maintains its pattern-based punctuation\n- JSON preserves the learned human-like variations\n- Chat history patterns are replicated consistently\n\n## FINAL WARNING\nThe chat history examples above show EXACTLY how humans naturally vary their punctuation across multiple messages. Study these patterns and apply the SAME variation when splitting new messages. Your job is to make new splits feel like they came from the same human who wrote those 15 example sentences.\n\n**DO NOT OUTPUT ANYTHING EXCEPT THE REQUIRED JSON OBJECT.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        4672,
        320
      ],
      "id": "f21243cb-805a-403f-9bd2-0a987c980d25",
      "name": "Split_Reply_to_JSON1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"totalMessages\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5\n    },\n    \"message1\": { \"type\": \"string\" },\n    \"message2\": { \"type\": \"string\" },\n    \"message3\": { \"type\": \"string\" },\n    \"message4\": { \"type\": \"string\" },\n    \"message5\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"totalMessages\",\n    \"message1\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4800,
        496
      ],
      "id": "093aa852-37de-44c3-8f6b-b5cc7bb2893a",
      "name": "Structured_Output_Parser2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "image/png OR image/jpeg",
                    "rightValue": "={{ $json.headers[\"content-type\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7c0a9c31-baa4-48b2-a956-2c8c26556652"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d5e71e75-65a6-491c-8f5e-9b5f6a209e51",
                    "leftValue": "application/pdf",
                    "rightValue": "={{ $json.headers[\"content-type\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "709ca8e0-c57f-47ee-941f-64973fa3e6a5",
                    "leftValue": "=audio/mpeg OR audio/mp3 OR audio/wav OR audio/x-wav OR audio/webm OR audio/ogg OR audio/opus OR audio/aac OR audio/mp4 OR audio/m4a OR audio/x-m4a OR audio/3gpp OR audio/3gpp2 OR audio/amr OR audio/flac OR audio/x-flac OR application/octet-stream OR text/html; charset=UTF-8",
                    "rightValue": "={{ $json.headers[\"content-type\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "renameFallbackOutput": "Fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3824,
        880
      ],
      "id": "d643deb5-8d96-4989-9c1c-10775e96f07c",
      "name": "Check File Type"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -3584,
        896
      ],
      "id": "0f042962-9cb0-4a92-aeef-730ad6291cf3",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "64b8d70d-92f7-40ce-be1f-a8fb65140c6f",
              "leftValue": "={{ $json.hasAttachments }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4480,
        736
      ],
      "id": "5cca9baf-7705-48d9-84eb-7fdbcdca2d3b",
      "name": "Checking_Attachment"
    },
    {
      "parameters": {
        "url": "={{ $json.Extracted_URL }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4048,
        912
      ],
      "id": "56a74f40-8664-441c-b390-d0719df3c7a6",
      "name": "Get_File_Via_Https_Request"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "=# Image OCR & Detailed Analysis Prompt\n\n# Role\n\nYou are a **OCR and image analysis engine**.\n\n### Input\n\nA Image (screenshot or photograph).\n\n# Objective\n\nCarefully analyze the image and extract **all readable text and all clearly visible information** in **maximum possible detail**, followed by a **clear and detailed interpretation of what the image represents overall**.\n\n---\n\n# Extraction Rules (Strict)\n\n* Do **not** guess, assume, or infer information that is not explicitly visible.\n* If any text, number, or section is unclear, blurred, cropped, or partially visible, mark it as **`[UNREADABLE]`**.\n* Preserve the original structure and layout as closely as possible, including:\n\n  * Line breaks\n  * Spacing\n  * Headings and subheadings\n  * Bullet points and lists\n  * Reading order\n* Extract **everything** visible in the image, including but not limited to:\n\n  * Titles, headings, and labels\n  * Body text\n  * Buttons, menu items, placeholders, and UI elements\n  * Timestamps, dates, and times\n  * IDs, reference numbers, order numbers\n  * URLs, email addresses, phone numbers\n  * Prices, currencies, quantities, and units\n  * Watermarks, headers, footers\n  * Error messages, alerts, and notifications\n* If the image contains tables, lists, or forms:\n\n  * Extract them **row by row and field by field**\n  * Maintain the logical reading order\n* If multiple sections, screens, or panels are present in the image, clearly separate each section using:\n\n  ```\n  -----\n  ```\n\n---\n\n# Required Output Structure\n\nYour response **must contain two clearly separated sections**, both written in detail:\n\n## 1. Complete Raw Extraction\n\n* Provide a full, unfiltered extraction of **all text and visible information** exactly as shown in the image.\n* Do not summarize or rephrase in this section.\n* Maintain original wording, spacing, and order as much as possible.\n\n---\n\n## 2. Detailed Image Interpretation & Summary\n\nProvide a clear and detailed explanation of:\n\n* What type of image this is (e.g., screenshot, document photo, dashboard, chat, invoice, product image, etc.)\n* What the image is communicating overall\n* The apparent purpose of the image (informational, commercial, instructional, confirmation, promotional, error display, etc.)\n* Any clearly supported intent or message based **only on visible content**\n* Key takeaways a human reviewer should understand from this image\n- Extract like if real user is sending this Image to us and we have to analyze this image so that we can reply back to the user based on the Image he/she shared\n\n---\n\n# Important Constraints\n\n* Do not omit minor details.\n* Do not add assumptions or external knowledge.\n* Do not hallucinate missing information.\n* Be exhaustive, accurate, and structured.\n* Focus on fidelity to what is visible in the image.\n\n---\n\nIf you want next, I can:\n\n* Optimize this for **n8n Vision node**\n* Convert it into a **system prompt for Voiceflow**\n* Create a second-stage reasoning prompt that uses this output for an AI Sales Rep\n",
        "imageUrls": "={{ $('Extracted_Payload_URL').item.json.Extracted_URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -3584,
        720
      ],
      "id": "2c93b457-99a1-4e4a-9ab0-573e3af548ac",
      "name": "Analyze_An_Image",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "bfx3imuJ7I1LdcD4",
          "name": "Harsh - Google Gemin API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a145b92-a59f-4084-a717-6a22da1db5af",
              "name": "Output",
              "value": "=Extract PDF Content:\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3392,
        896
      ],
      "id": "0f9c0811-a6ee-4d73-9322-48cd5c3cbca8",
      "name": "File_Output"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3632,
        688
      ],
      "id": "4d04c6f6-ff4d-41e4-a0d3-50bc4b9a462e",
      "name": "Sticky Note29",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a145b92-a59f-4084-a717-6a22da1db5af",
              "name": "Output",
              "value": "={{ $json.Output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        896
      ],
      "id": "e24fafe7-7531-4512-8f96-1e73545dd31c",
      "name": "Extracted_Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a145b92-a59f-4084-a717-6a22da1db5af",
              "name": "Output",
              "value": "=Extract Image Content:\n{{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3392,
        720
      ],
      "id": "d29c4cd0-3b0b-4220-b8f6-6fe7575b8384",
      "name": "Image_Output"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-preview"
        },
        "text": "=Listen to the provided audio carefully.\n\nYour task is to:\n- Understand what is being said in the audio.\n- Capture all meaningful information, context, and details.\n- Do not guess or add anything that is not clearly spoken.\n- If any words or parts are unclear, mark them as [INAUDIBLE].\n\nReturn the output in two parts:\n\n1) DETAILED CONTENT\n- Write out what is being said in clear, complete sentences.\n- Extract like if real user is sending this audio file to us and we have to listen that so that we can reply back to the user based on the audio he/she shared\n\n2) WHAT IS HAPPENING (CLEAR EXPLANATION)\n- Explain in plain language what the audio is about.\n- Describe the situation, intent, and key points.\n- Highlight any requests, problems, decisions, or next steps mentioned.",
        "audioUrls": "={{ ($('Extracted_Payload_URL').item.json.Extracted_URL || '').replace(/\\.WhatsApp$/, '') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -3584,
        1088
      ],
      "id": "0f6f5641-316b-4a28-b299-f60b1372c9c2",
      "name": "Analyze audio",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "bfx3imuJ7I1LdcD4",
          "name": "Harsh - Google Gemin API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3632,
        1056
      ],
      "id": "a1bab702-c9da-431d-9930-5c2cafe7b681",
      "name": "Sticky Note47",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a145b92-a59f-4084-a717-6a22da1db5af",
              "name": "Output",
              "value": "=Extract User Audio Content:\n{{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3392,
        1088
      ],
      "id": "86f754db-21b7-4011-989d-6da5fe40783d",
      "name": "File_Output1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6736,
        256
      ],
      "id": "dc6ba0e9-d6a1-4481-b42e-6cc9162a498b",
      "name": "Sticky Note22",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "text_prompts",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6688,
        288
      ],
      "id": "5a8cf818-c99a-4626-ab9d-e9d14bbc59e2",
      "name": "Get_Prompts",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "supabaseApi": {
          "id": "aOlRixpFdGtrSLW0",
          "name": "1Prompt - AI Setters"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1680,
        848
      ],
      "id": "8c6c5a23-063d-4379-a95b-d4c964bc5acc",
      "name": "OpenRouter_Chat_Model1",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt Ads - API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 212,
        "width": 232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        784
      ],
      "id": "38fb8d7f-2cba-4fa7-a84f-fbe6cf7408d4",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "model": "=google/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2784,
        2352
      ],
      "id": "71dbf3f7-f44e-42bf-ac1b-f177788e23c3",
      "name": "OpenRouter_Chat_Model2",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt Ads - API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "### Memory",
        "height": 208,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3568,
        2288
      ],
      "id": "2fba97c6-a1d2-479e-9686-77700442099c",
      "name": "Sticky Note51",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### LLM Model",
        "height": 208,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2848,
        2288
      ],
      "id": "279ae962-5c7d-443f-8c00-5ead4ab0a73d",
      "name": "Sticky Note66",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1e85c83-45c1-471e-90ed-cd9245c2a360",
              "leftValue": "={{ $json.File_Processing_Enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5088,
        288
      ],
      "id": "aa405775-10f4-41d8-8c45-8117839d4b28",
      "name": "If_File_Processing_Enabled"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json;\n\n// Try all possible locations for Setter_Number\nconst rawSetterNumber =\n  webhookData.body?.Setter_Number ??\n  webhookData.query?.Setter_Number ??\n  webhookData.Setter_Number;\n\nconst setterNumber = parseInt(rawSetterNumber, 10);\n\nif (!setterNumber || isNaN(setterNumber)) {\n  throw new Error(\n    `Invalid Setter_Number. body=${JSON.stringify(webhookData.body?.Setter_Number)} query=${JSON.stringify(webhookData.query?.Setter_Number)}`\n  );\n}\n\n// Handle different shapes from Aggregate node\nlet rawInput = $input.first().json;\nlet data = rawInput.data;\n\nif (Array.isArray(data) && data.length === 1 && Array.isArray(data[0])) {\n  data = data[0];\n}\nif (!Array.isArray(data) && data?.data) {\n  data = data.data;\n}\n\nif (!Array.isArray(data)) {\n  throw new Error(\n    `Expected array of setter rows, got: ${typeof data}. Raw input keys: ${Object.keys(rawInput).join(', ')}`\n  );\n}\n\nconst targetCardName = `Setter-${setterNumber}`;\nconst setter = data.find(row => row && row.card_name === targetCardName);\n\nif (!setter) {\n  const availableCards = data.map(r => r?.card_name ?? 'null').join(', ');\n  throw new Error(\n    `${targetCardName} not found. Rows received: ${data.length}. Available card_names: [${availableCards}]`\n  );\n}\n\nreturn [{\n  json: {\n    Setter_Number: setterNumber,\n    Card_Name: setter.card_name,\n    System_Prompt: setter.system_prompt || \"\",\n    Booking_Prompt: setter.booking_prompt || \"\",\n    LLM_Model: setter.model || \"\",\n    Response_Delay: setter.response_delay_seconds,\n    FollowUp_Delay: setter.followup_delay_seconds,\n    File_Processing_Enabled: setter.file_processing_enabled,\n    Human_Transfer_Enabled: setter.human_transfer_enabled,\n    Booking_Function_Enabled: setter.booking_function_enabled,\n    Prompt_Configuration: setter.prompt_configurations || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5904,
        288
      ],
      "id": "43d9d2d3-fa6a-4fa8-afff-20a63a687269",
      "name": "Map_Agent_Config"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5952,
        256
      ],
      "id": "a0d8970e-51aa-48af-8ee8-11ac706c8a88",
      "name": "Sticky Note30",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5152,
        256
      ],
      "id": "3a22509e-1bea-4a29-974a-48f429367959",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09dda029-7b7b-42d7-ac65-9f8032f4b742",
              "name": "Transfer_To_Human_Inbound_Webhook",
              "value": "=https://services.leadconnectorhq.com/hooks/SP5WoaciRo57zzqNiZdV/webhook-trigger/4d2IkDFIh1TsFB6Gbsz1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        720
      ],
      "id": "c09ff1ff-75ea-443e-971c-83da04f9a742",
      "name": "Set_Inbound_Webhook"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        208
      ],
      "id": "b1cc8c7c-0662-4420-8289-813a48e51ae7",
      "name": "Sticky Note36",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1e85c83-45c1-471e-90ed-cd9245c2a360",
              "leftValue": "={{ $('Set_Setter_Details').item.json.Human_Transfer_Enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        240
      ],
      "id": "a573626c-4fc0-4996-a7da-94ef5f8a11b4",
      "name": "If_Human_Transferred_Enabled"
    },
    {
      "parameters": {
        "content": "",
        "height": 204,
        "width": 444,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        -192
      ],
      "id": "2409e7d4-0d1c-47cd-aedd-bf7b1b83d165",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -4608,
        2096
      ],
      "id": "9e433e97-7185-4292-8b76-198ba9f495e7",
      "name": "Agg_Set_Prompts",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4656,
        2048
      ],
      "id": "c99ec227-def6-462f-ad66-65534d2f0e3f",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4864,
        2048
      ],
      "id": "5898fdbd-794f-4803-9d5c-f9fbf39b8c2b",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "prompts",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4816,
        2096
      ],
      "id": "457749a4-5c6d-4327-822a-4280e98c7b02",
      "name": "Get_Prompts1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "supabaseApi": {
          "id": "aOlRixpFdGtrSLW0",
          "name": "1Prompt - AI Setters"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa894fde-fbd6-451e-935f-aefdd5756276",
              "name": "Agent_No",
              "value": "={{ $json.data[10].id }}",
              "type": "number"
            },
            {
              "id": "325f1500-73c2-422b-bf71-dccb1f960017",
              "name": "Agent_Title",
              "value": "={{ $json.data[10].title }}",
              "type": "string"
            },
            {
              "id": "e65b9099-9695-48e6-b9f9-8dd7ae4e5ac3",
              "name": "Agent_Prompt",
              "value": "={{ $json.data[10].content }}",
              "type": "string"
            },
            {
              "id": "868a0a67-c3c1-46d0-a16d-f8a5d714e22c",
              "name": "LLM_Model",
              "value": "={{ $json.data[10].model }}",
              "type": "string"
            },
            {
              "id": "0ef7f3d5-82c5-451a-a4ae-20d401d44fd7",
              "name": "File_Processing_Enabled",
              "value": "={{ $json.data[10].followup_delay_seconds }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4064,
        2096
      ],
      "id": "84751a34-49d0-4100-b428-e21f6377c85f",
      "name": "Set_FollowUp_Agent"
    },
    {
      "parameters": {
        "amount": "=0"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3984,
        320
      ],
      "id": "31be07b9-8464-44b1-a648-678e1115712e",
      "name": "Response_Delay",
      "webhookId": "939031ab-4ce7-4070-bc71-7e7bc60966fe"
    },
    {
      "parameters": {
        "description": "Call this tool when needed to get the available slots",
        "workflowId": {
          "__rl": true,
          "value": "Bywi98_cvSODL1sHzSX0w",
          "mode": "list",
          "cachedResultUrl": "/workflow/Bywi98_cvSODL1sHzSX0w",
          "cachedResultName": "Text Engine Setter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "SessionId": "={{ $('Webhook').item.json.query.Lead_ID }}",
            "timeZone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timeZone', `Timezone of the user`, 'string') }}",
            "startDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDate', `The start date and time for the slot search window. Format: YYYY-MM-DDTHH:MM:SS.(Keep the time from Midnight)`, 'string') }}",
            "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDate', `The end date and time for the slot search window. Format: YYYY-MM-DDTHH:MM:SS.`, 'string') }}",
            "calendarId": "={{ $('Set_Calendar_Id').item.json.Calendar_Id }}",
            "1PromptCredential": "={{ $('Set_HighLevel_API_Key').item.json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SessionId",
              "displayName": "SessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timeZone",
              "displayName": "timeZone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calendarId",
              "displayName": "calendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "1PromptCredential",
              "displayName": "1PromptCredential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2432,
        704
      ],
      "id": "22b1d6bf-5d4b-405e-baa9-fccd6501ca4d",
      "name": "Get_Available_Slot"
    },
    {
      "parameters": {
        "toolDescription": "Use this function to create the appointment ",
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "=application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendarId\": \"{{ $('Set_Calendar_Id').item.json.Calendar_Id }}\",\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\",\n  \"contactId\": \"{{ $('getContact').item.json.contacts[0].id }}\",\n  \"startTime\": \"{starDate}\",\n  \"title\": \"{{ $('Get_API_Credentials3').item.json.data[0].gohighlevel_booking_title }}\",\n  \"meetingLocationType\": \"default\",\n  \"appointmentStatus\": \"confirmed\",\n  \"assignedUserId\": \"{{ $('Set_Assignee_Id').item.json.assignee_Id }}\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true,\n  \"ignoreFreeSlotValidation\": false\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "starDate",
              "description": "=The startDateTime of the user. Example Format: 2025-06-27T18:30:00+05:30 (Make sure to have the correct timezone according to the user and that slot should be available in the \"getAvailableSlot\")",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2880,
        704
      ],
      "id": "e8ba7fa3-d632-4884-9dbd-6738e7567dc8",
      "name": "bookAppointment"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        656
      ],
      "id": "b9ac3391-52bf-4219-b106-e1d9282bddce",
      "name": "Sticky Note43",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        656
      ],
      "id": "16be31ea-384c-4638-8b8b-501cdb182e1a",
      "name": "Sticky Note44",
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "SessionId"
            },
            {
              "name": "timeZone"
            },
            {
              "name": "startDate"
            },
            {
              "name": "endDate"
            },
            {
              "name": "calendarId"
            },
            {
              "name": "1PromptCredential"
            }
          ]
        }
      },
      "id": "714fad74-42a1-444d-b8d3-5c4af6355204",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2416,
        992
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.startDate }}",
        "format": "x",
        "outputFieldName": "startDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2640,
        992
      ],
      "id": "eacbe3c1-3b6b-4165-880a-a64103ec94f9",
      "name": "Start_Date1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('When Executed by Another Workflow').item.json.endDate }}",
        "format": "x",
        "outputFieldName": "endDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2864,
        992
      ],
      "id": "19e062a9-a451-46d5-a2b4-6a7ab844a8d4",
      "name": "End_Date1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0ce94e1-0143-4793-a4a1-ad9cd729bba3",
              "name": "startDate",
              "value": "={{ $('Start_Date1').item.json.startDate }}",
              "type": "string"
            },
            {
              "id": "2251b7c0-beb6-4dac-be4e-27eae005b324",
              "name": "endDate",
              "value": "={{ $json.endDate }}",
              "type": "string"
            },
            {
              "id": "8cccf26c-722e-4098-b887-94e557b99530",
              "name": "timeZone",
              "value": "={{ $('When Executed by Another Workflow').item.json.timeZone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3088,
        992
      ],
      "id": "5ed060cb-9ea0-44ea-8c41-1cece68fb188",
      "name": "Set_startDate_endDate1"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/calendars/{{ $('When Executed by Another Workflow').item.json.calendarId }}/free-slots/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "timezone",
              "value": "={{ $json.timeZone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When Executed by Another Workflow').item.json[\"1PromptCredential\"] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        992
      ],
      "id": "b47a7a98-fded-46d5-a491-b0cabd178afb",
      "name": "getAvailableSlot1"
    },
    {
      "parameters": {
        "content": "## Get Available Slots n8n Sub-Workflow",
        "height": 80,
        "width": 1068,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        864
      ],
      "id": "0f49b7ab-f091-4891-a1f6-6d55d6af3188",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        960
      ],
      "id": "2eba9077-28fd-47ae-b8ac-85691b8b49d2",
      "name": "Sticky Note45",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        960
      ],
      "id": "8a8adead-34da-4315-8b62-11456aeeb517",
      "name": "Sticky Note67",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        960
      ],
      "id": "3df1b466-9fef-4cf9-824a-e55c35a86445",
      "name": "Sticky Note68",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2592,
        960
      ],
      "id": "db4ea2cc-00d4-4f92-b770-4a537e47ebc2",
      "name": "Sticky Note69",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        960
      ],
      "id": "973e95c9-ae7f-4c49-be81-e212c8d277d4",
      "name": "Sticky Note70",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Use this function to get the list of user-booked appointments. Always use this tool before using'cancelAppointment' or 'updateAppointment' tool",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('getContact').item.json.contacts[0].id }}/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3104,
        704
      ],
      "id": "9eb8de18-1736-4200-ad48-1e0b9e52fc34",
      "name": "getContactAppointments1"
    },
    {
      "parameters": {
        "toolDescription": "Use this function to update the appointment. always run 'getContactAppointments' before running this tool",
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments/{eventId}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendarId\": \"{{ $('Set_Calendar_Id').item.json.Calendar_Id }}\",\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\",\n  \"startTime\": \"{startDateTime}\",\n   \"appointmentStatus\": \"confirmed\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{eventId}",
              "description": "=Enter the ID from the Event of the appointment selected by the user. First, run the \"Get Contact Appointments\" function, show the user their appointments, and use the ID from the event of the one they choose. Always use the correct ID that you get from the 'getContactAppointments' tool",
              "type": "string"
            },
            {
              "name": "{startDateTime}",
              "description": "=The startDateTime of the user. Example Format: 2025-06-27T18:30:00+05:30 (Make sure to have the correct timezone according to the user and that slot should be available in the \"getAvailableSlot\")",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3328,
        704
      ],
      "id": "09edf4d6-af3f-485d-b734-5d96f1c815e7",
      "name": "updateAppointment1"
    },
    {
      "parameters": {
        "toolDescription": "=Run this function when user ask to cancel an event or booking or appointment. Always run 'getContactAppointments' before running this tool ",
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments/{eventId}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointmentStatus\": \"cancelled\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{eventId}",
              "description": "=Enter the ID from the Event of the appointment selected by the user. First, run the \"Get Contact Appointments\" function, show the user their appointments, and use the ID from the event of the one they choose. Always use the correct ID that you get from the 'getContactAppointments' tool",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3536,
        704
      ],
      "id": "160076db-6073-49b1-99d7-7caac6b6a68a",
      "name": "cancelAppointment1"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        656
      ],
      "id": "0a9a35b9-14ae-4925-b872-d168c6c6757b",
      "name": "Sticky Note38",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        656
      ],
      "id": "28fc1c00-eabd-4f23-b5ca-006c828e7049",
      "name": "Sticky Note39",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3472,
        656
      ],
      "id": "75e3289c-c153-446a-8757-6fc0d3769095",
      "name": "Sticky Note40",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4112,
        2048
      ],
      "id": "7c108e85-562a-4861-b930-3a482cef9bfa",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# EXTRACT ATTACHMENT DETAILS",
        "height": 80,
        "width": 1716,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4752,
        576
      ],
      "id": "bfa9c7f8-1228-4c13-966b-da8cb1a4091b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# SET SETTER PROMPT & NUMBER",
        "height": 80,
        "width": 596,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6032,
        160
      ],
      "id": "588d43be-1f9c-4274-9438-c2748bd14424",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# GET PROMPTS",
        "height": 80,
        "width": 404,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6736,
        160
      ],
      "id": "c36e9685-8de0-4135-82f0-f486d88507e5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "# ANY FILES?",
        "height": 80,
        "width": 228,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5152,
        160
      ],
      "id": "dd0bfbda-43d3-4945-8ff8-c50be2e1e939",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# SET STATIC FIELDS",
        "height": 80,
        "width": 532,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2704,
        160
      ],
      "id": "711c3196-2085-4ea5-8581-d64fe5be14b2",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "# HUMAN NEEDED?",
        "height": 80,
        "width": 342,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        112
      ],
      "id": "5170375a-1126-4126-905b-676fde1d5065",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "# TRANSFER TO HUMAN",
        "height": 80,
        "width": 676,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        496
      ],
      "id": "8f99cc41-33bc-4a1d-a662-5bf14d9f2c04",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# BOOK APPOINTMENT API CALLS TO GHL",
        "height": 96,
        "width": 1292,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        544
      ],
      "id": "c3239eb6-169e-49ff-9e85-196f4fe4bdc5",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "# BOOKING SETTER",
        "height": 80,
        "width": 436,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        -288
      ],
      "id": "edba0382-31f8-4c0d-9878-d3b8bc8fccbd",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# SET RESPONSE DELAY",
        "height": 80,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3712,
        192
      ],
      "id": "67c4d472-5a50-42f1-a2f1-9ccc77c00772",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7696,
        256
      ],
      "id": "143a2110-ef1a-4207-aee3-868db349c336",
      "name": "Sticky Note32",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# MAIL ENTRY",
        "height": 80,
        "width": 244,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7712,
        160
      ],
      "id": "4d0b3b50-e327-4272-a0ad-e5eb848aad51",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "# FOLLOWUP ENTRY",
        "height": 80,
        "width": 356,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5472,
        1952
      ],
      "id": "75c47c93-8565-49f6-bca8-7cc1a735efa6",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "# GET PROMPTS",
        "height": 80,
        "width": 404,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4864,
        1952
      ],
      "id": "91b56c40-def6-4956-9ff1-b146ee2027d0",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "content": "# SET AGENT PROMPT",
        "height": 80,
        "width": 404,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4208,
        1952
      ],
      "id": "14f069d0-22ce-40cf-8291-163c660ed9fd",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "# GET CHAT HISTORY",
        "height": 80,
        "width": 372,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3648,
        1952
      ],
      "id": "17985959-6013-4e77-bc39-b79e060ce4db",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -3568,
        2096
      ],
      "id": "bd12dec7-52f6-4af6-bcc0-585b076f2818",
      "name": "Get Chat History"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1472,
        288
      ],
      "id": "46963396-c481-4a74-a664-7e09b2ce843b",
      "name": "Get Chat History1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# FOLLOWUP AGENT",
        "height": 80,
        "width": 356,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2816,
        1952
      ],
      "id": "ba94b957-d481-4327-9792-a9a00e873fc9",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "content": "# SEND RESULT BACK",
        "height": 96,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1968,
        1952
      ],
      "id": "81184531-f6e1-4d91-a7db-ee225869d322",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "# AI SETTER CONFIGURATION",
        "height": 80,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        1152
      ],
      "id": "51589e0e-013c-4e4c-b81e-418f29b6338c",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "content": "# GET LEAD INFO FROM GHL\n",
        "height": 80,
        "width": 484,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2016,
        160
      ],
      "id": "b67c2080-c5a3-4bf2-8500-aea15a8fee9e",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contactId",
              "value": "={{ $('Webhook').item.json.query.Contact_ID }}"
            },
            {
              "name": "locationId",
              "value": "={{ $('Set_Location_Id').item.json.location_Id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -336
      ],
      "id": "08b76b9c-1628-4e1f-9ef5-85ec5c63411d",
      "name": "getGHL_Conversations",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/conversations/{{ $json.conversations[0].id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -336
      ],
      "id": "b9defbfc-2db6-443b-a651-617583ce5183",
      "name": "getGHL_Messages",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.first().json?.messages?.messages || [];\n\nif (messages.length === 0) {\n  return [{ json: { messageId: null, noMessages: true } }];\n}\n\nreturn messages.map(msg => ({\n  json: {\n    messageId: msg.id,\n    direction: msg.direction,\n    message: msg.body,\n    messageType: msg.messageType,\n    dateAdded: msg.dateAdded || msg.createdAt || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -336
      ],
      "id": "ef46b346-31f2-4e6d-9995-92620cb7e01d",
      "name": "Split_Message_IDs"
    },
    {
      "parameters": {
        "jsCode": "const rawMessages = $('getGHL_Messages').first().json;\n\n// If there's an error or no messages, skip entirely\nif (rawMessages.error || !rawMessages.messages) {\n  return [{ json: { human_agent_messages: [], human_agent_context: '', count: 0 } }];\n}\n\nconst allMessages = rawMessages.messages.messages || [];\n\nconst supabaseHistory = $('Get Chat History1').item.json.messages || [];\n\nconst supabaseContents = new Set(\n  supabaseHistory.flatMap(m => [\n    (m.ai || '').trim().toLowerCase(),\n    (m.human || '').trim().toLowerCase()\n  ]).filter(s => s.length > 0)\n);\n\nconst processedMessages = allMessages\n  .map(item => {\n    const msg = item.message || item;\n    const body = msg.body || msg.text || msg.content || msg.message || '';\n    const direction = msg.direction || item.direction || '';\n    const dateAdded = msg.dateAdded || msg.createdAt || item.dateAdded || '';\n    return { body, direction, dateAdded };\n  })\n  .filter(msg => {\n    const content = msg.body.trim();\n    return content.length > 0 && !supabaseContents.has(content.toLowerCase());\n  });\n\nconst missedMessages = processedMessages.map(msg => ({\n  role: msg.direction === 'outbound' ? 'Human Agent' : 'Contact',\n  content: msg.body.trim(),\n  timestamp: msg.dateAdded\n}));\n\nmissedMessages.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\nconst human_agent_context = missedMessages.length > 0\n  ? missedMessages.map(m => `[${m.timestamp}] ${m.role}: ${m.content}`).join('\\n')\n  : '';\n\nreturn [{ json: { human_agent_messages: missedMessages, human_agent_context, count: missedMessages.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -336
      ],
      "id": "55fc55d6-a66e-4b12-b520-567e8daf5d7f",
      "name": "Extract_Human_Agent_Messages"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        -384
      ],
      "id": "841422a3-d328-45e0-a203-3b8011035571",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        224
      ],
      "id": "ca556f9b-424c-41cc-8ece-baa6559e650e",
      "name": "Sticky Note63",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Is Booking Function Needed?",
        "height": 80,
        "width": 502,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        112
      ],
      "id": "236c4978-47c3-4018-96c4-d02e97402b0d",
      "name": "Sticky Note64"
    },
    {
      "parameters": {
        "content": "",
        "height": 204,
        "width": 444,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        240
      ],
      "id": "c35ec8bc-bc66-4a0b-88d3-5d3b0006793d",
      "name": "Sticky Note71"
    },
    {
      "parameters": {
        "content": "# SETTER",
        "height": 80,
        "width": 436,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        144
      ],
      "id": "6d5e9924-d864-4187-b874-07b1e1dab900",
      "name": "Sticky Note72"
    },
    {
      "parameters": {
        "content": "# SPLIT SETTER REPLY",
        "height": 80,
        "width": 644,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4448,
        192
      ],
      "id": "0e61863c-b7d7-4043-9e49-5f379327f3a9",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "content": "",
        "height": 496,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4448,
        288
      ],
      "id": "4ab82f34-0a45-4d9c-8ef8-81a3eec4a4c1",
      "name": "Sticky Note59",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# GET ALL LEAD COMMUNICATION FROM GHL",
        "height": 80,
        "width": 868,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        -480
      ],
      "id": "e22f4c6a-0d36-4f76-b9d8-2c8796e08cb7",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\n# USER INPUT ATTACHMENTS (FILES/IMAGE/AUDIO EXTRACTED CONTENT):",
        "options": {
          "systemMessage": "=# Setter_Number:\n- {{ $('Set_Setter_Details').item.json.Setter_Number }}\n\n# Setter_System_Prompt:\n- {{ $('Set_Setter_Details').item.json.Setter_Prompt }}\n\n# Setter_Booking_Prompt:\n- {{ $('Set_Setter_Details').item.json.Booking_Prompt }}\n\n# Setter_Prompt_Configuration\n- {{ JSON.stringify($('Set_Setter_Details').item.json.Prompt_Configuration) }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2480,
        272
      ],
      "id": "d9ed4eaa-80a9-4628-b7f1-04a21f344f9e",
      "name": "Setter",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\n# USER INPUT ATTACHMENTS (FILES/IMAGE/AUDIO EXTRACTED CONTENT):\n{{ $if($('Extracted_Content').isExecuted, $('Extracted_Content').first().json.Output, null) }}",
        "options": {
          "systemMessage": "=# Setter_Number:\n- {{ $('Set_Setter_Details').item.json.Setter_Number }}\n\n# Setter_System_Prompt:\n- {{ $('Set_Setter_Details').item.json.Setter_Prompt }}\n\n# Setter_Booking_Prompt:\n- {{ $('Set_Setter_Details').item.json.Booking_Prompt }}\n\n# Setter_Prompt_Configuration\n- {{ JSON.stringify($('Set_Setter_Details').item.json.Prompt_Configuration) }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2480,
        -160
      ],
      "id": "ceb6f880-518a-43e6-bb55-f4ccaf82f9bc",
      "name": "Booking Setter",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "54bda3cd-f329-4e8b-8821-66692e30b13e",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "aa801def-32cd-4e4b-8edf-b3839f8f1d2d",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "884e7721-c2fb-4704-bc99-6f38362156bd",
              "name": "Message_4",
              "value": "={{ $json.output.message4 }}",
              "type": "string"
            },
            {
              "id": "7981b587-b601-4ad1-bc41-8d4010902bee",
              "name": "Message_5",
              "value": "={{ $json.output.message5 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "1b292171-8299-4dd2-b865-6b59f119ad8e",
              "name": "userID",
              "value": "={{ $('Webhook').item.json.body.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5776,
        1008
      ],
      "id": "860da660-b531-405a-867a-d2c1e2e804eb",
      "name": "Save Messages & History6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "9511c01d-546a-4ff6-89cd-03702dc22005",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "dbfb8414-c4e9-4f5e-891d-5aea14c8f4ed",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "eefdf52e-1faf-47f5-819e-85439ef0d09a",
              "name": "Message_4",
              "value": "={{ $json.output.message4 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "8dafe06c-341d-471f-9226-cac4c30b89d1",
              "name": "userID",
              "value": "={{ $json.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5776,
        832
      ],
      "id": "0ee45ad8-c3e5-4905-8230-5e68bfca5245",
      "name": "Save Messages & History4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "61240c04-4173-43d3-a2a1-4e39eaf2f6bf",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "26e2ea58-52fb-4d5e-bdb6-8a893a617d89",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "c515fa3e-3476-47d1-bf04-42f6d0a00b4c",
              "name": "userID",
              "value": "={{ $('Webhook').item.json.body.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5776,
        656
      ],
      "id": "922841ca-eef4-4ad1-8b68-41dc5209c687",
      "name": "Save Messages & History3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "30074e53-1c41-42a7-8055-02397da5d740",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "fd1df814-0f40-4598-8815-97b1f9d35812",
              "name": "userID",
              "value": "={{ $('Webhook').item.json.body.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5776,
        496
      ],
      "id": "ba8129e0-2c6f-4352-adbf-c7a5f672e299",
      "name": "Save Messages & History2"
    },
    {
      "parameters": {
        "content": "",
        "height": 912,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5424,
        288
      ],
      "id": "e74340f4-c7ce-4e5a-b5dc-117675cd14f4",
      "name": "Sticky Note73",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FILTER SPLIT MESSAGES\n",
        "height": 80,
        "width": 516,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5424,
        192
      ],
      "id": "1cab8906-4ac0-44ec-8e54-b48bc7d6e1f5",
      "name": "Sticky Note74"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Get Chat History1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "fe12b930-c3c0-44da-9d3f-22c1442be3ac",
              "name": "userID",
              "value": "={{ $('Webhook').item.json.body.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5776,
        320
      ],
      "id": "119ef4d8-597e-48f5-88b3-dc6a143f5545",
      "name": "Save Messages & History1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        6384,
        320
      ],
      "id": "e8c7cec9-785a-4208-b2f0-3d6f35f96336",
      "name": "Simulation Response1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa894fde-fbd6-451e-935f-aefdd5756276",
              "name": "Setter_Number",
              "value": "={{ $json.Setter_Number }}",
              "type": "number"
            },
            {
              "id": "868a0a67-c3c1-46d0-a16d-f8a5d714e22c",
              "name": "LLM_Model",
              "value": "={{ $json.LLM_Model }}",
              "type": "string"
            },
            {
              "id": "b45b7a24-3585-458c-bc3e-eba15095d143",
              "name": "Response_Delay",
              "value": "={{ $json.Response_Delay }}",
              "type": "number"
            },
            {
              "id": "0ef7f3d5-82c5-451a-a4ae-20d401d44fd7",
              "name": "File_Processing_Enabled",
              "value": "={{ $json.File_Processing_Enabled }}",
              "type": "boolean"
            },
            {
              "id": "3e9e0c2e-e0c7-4f3d-b52b-c8c6800e5c73",
              "name": "Human_Transfer_Enabled",
              "value": "={{ $json.Human_Transfer_Enabled }}",
              "type": "boolean"
            },
            {
              "id": "0bcf6c21-95d5-499d-9aef-b637ebdb69e1",
              "name": "Booking_Function_Enabled",
              "value": "={{ $json.Booking_Function_Enabled }}",
              "type": "boolean"
            },
            {
              "id": "e65b9099-9695-48e6-b9f9-8dd7ae4e5ac3",
              "name": "Setter_Prompt",
              "value": "={{ $json.System_Prompt }}",
              "type": "string"
            },
            {
              "id": "00c9a206-c15f-4b20-9b9a-82852f9e597a",
              "name": "Booking_Prompt",
              "value": "={{ $json.Booking_Prompt }}",
              "type": "string"
            },
            {
              "id": "73aee8a0-2309-4d2d-b03d-c9b6f06ad2c3",
              "name": "Prompt_Configuration",
              "value": "={{ JSON.stringify($json.Prompt_Configuration) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5696,
        288
      ],
      "id": "7897f5a7-55f2-45ea-8556-e512b19ab8fd",
      "name": "Set_Setter_Details"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1e85c83-45c1-471e-90ed-cd9245c2a360",
              "leftValue": "={{ $('Set_Setter_Details').item.json.Booking_Function_Enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1888,
        256
      ],
      "id": "f8571d7d-cf8d-4e56-9948-dcd8c5ef1b67",
      "name": "# Is Booking Function Needed?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\",\n  \"pageLimit\": 1,\n  \"filters\": [\n    {\n      \"field\": \"email\",\n      \"operator\": \"eq\",\n      \"value\": \"{{ $('Webhook').item.json.query.Email }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1952,
        288
      ],
      "id": "70bfd9a6-dadd-4334-a1f7-1eab7167c334",
      "name": "getContact",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# SEND REPLY BACK TO WEBHOOK\n",
        "height": 80,
        "width": 596,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6144,
        192
      ],
      "id": "66516d71-57b4-4639-9293-a41c8c55e803",
      "name": "Sticky Note75"
    },
    {
      "parameters": {
        "content": "",
        "height": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6320,
        288
      ],
      "id": "59e6c8a9-602d-47e3-80fe-5beaa0a3baa1",
      "name": "Sticky Note76",
      "disabled": true
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "name",
              "value": "={{ $json.query.Name }}"
            },
            {
              "key": "body",
              "value": "={{ $json.query.Message_Body }}"
            },
            {
              "key": "id1",
              "value": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -7424,
        288
      ],
      "id": "0b944d6d-a015-4b33-8b29-18609d4beb5d",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "id",
              "value": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        3536,
        992
      ],
      "id": "05e28b2a-4939-48bc-96a2-81911fa9d526",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "credentials",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -7232,
        288
      ],
      "id": "f599c948-ad50-4c07-bb36-374600957e75",
      "name": "Get_API_Credentials2",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "supabaseApi": {
          "id": "aOlRixpFdGtrSLW0",
          "name": "1Prompt - AI Setters"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6992,
        288
      ],
      "id": "36f59e86-4061-4967-b5d0-02a45bdb0a3c",
      "name": "Get_API_Credentials3",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2592,
        656
      ],
      "id": "fbf7899a-19a8-4eee-bf32-a9c4b20eb89f",
      "name": "Sticky Note80",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Use this function to create a new contact in the system. Only use this tool for TEXT conversations when the contact does not exist or when the user provides a new email address. For voice calls, never use this tool as contacts always exist. Before booking an appointment via text, check if the user has an email - if they do, confirm it with them; if they don't (Instagram/Facebook users), ask for their email first, then use this tool to create/update the contact before proceeding with booking.",
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $('Set_Location_Id').item.json.location_Id }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Webhook').item.json.query.Name }}\",\n  \"email\": \"{{ $('Webhook').item.json.query.Email }}\",\n  \"phone\": \"{{ $('Webhook').item.json.query.Phone }}\",\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2656,
        704
      ],
      "id": "45620816-033b-43ba-9c0c-9d7cbeefa24a",
      "name": "createContact"
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7040,
        256
      ],
      "id": "96fb799f-d307-4bec-97f1-71f01aa35555",
      "name": "Sticky Note60",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7280,
        256
      ],
      "id": "a48e58ce-a4c7-4305-9dbc-dd9fcf45f6e0",
      "name": "Sticky Note61",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "axios/0.21.4",
            "content-length": "128",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-forwarded-for": "34.136.14.240",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "34.136.14.240",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {
            "ReplyChannel": "Live Chat",
            "AgentNumber": "1"
          },
          "body": {
            "payload": "how are you guy",
            "userID": "eClbCjHccLMQ7QICqlbx",
            "userFullName": "Guest Visitor Ynpbx",
            "userEmail": "",
            "userPhone": ""
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/n8n-ai-lead-setter-followup",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "node",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "52.21.62.233",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "52.21.62.233"
          },
          "params": {},
          "query": {
            "Message_Body": "1pm works",
            "Lead_ID": "8KBKWdU4z2ADTmL23xc0",
            "GHL_Account_ID": "dzTOfajR3YuQKAqE1myz",
            "Name": "Gor Dow",
            "Email": "fklsajdfklsjklsdjfkls56@gmail.com",
            "Phone": "+15706302442",
            "Setter_Number": "2"
          },
          "body": {},
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/n8n-ai-lead-setter",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Set_User_Details": {
      "main": [
        [
          {
            "node": "Get Chat History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Follow Up Status",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Save Messages & History1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Messages & History2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Messages & History3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Messages & History4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Messages & History6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Agent_Response": {
      "main": [
        [
          {
            "node": "Response_Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get_Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Assignee_Id": {
      "main": [
        [
          {
            "node": "Set_Calendar_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Calendar_Id": {
      "main": [
        [
          {
            "node": "Set_Location_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Location_Id": {
      "main": [
        [
          {
            "node": "Set_Inbound_Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg_Set_Prompts1": {
      "main": [
        [
          {
            "node": "Map_Agent_Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_HighLevel_API_Key": {
      "main": [
        [
          {
            "node": "Set_Assignee_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_User_Utterance": {
      "main": [
        [
          {
            "node": "Set_HighLevel_API_Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Text_Prompts": {
      "main": [
        [
          {
            "node": "getContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured_Output_Parser2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Split_Reply_to_JSON1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Memory1": {
      "ai_memory": [
        [
          {
            "node": "Get Chat History",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Checking_Attachments": {
      "main": [
        [
          {
            "node": "Checking_Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracted_Payload_URL": {
      "main": [
        [
          {
            "node": "Get_File_Via_Https_Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze_User_Response1": {
      "main": [
        [
          {
            "node": "Assign_to_Human1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "# Is Booking Function Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter_Chat_Model": {
      "ai_languageModel": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Setter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Memory": {
      "ai_memory": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Setter",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Get Chat History1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase_tool": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings_OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledgebase_tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Split_Reply_to_JSON1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Output_Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Split_Reply_to_JSON1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Analyze_An_Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "File_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking_Attachment": {
      "main": [
        [
          {
            "node": "Extracted_Payload_URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_User_Utterance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_File_Via_Https_Request": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze_An_Image": {
      "main": [
        [
          {
            "node": "Image_Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File_Output": {
      "main": [
        [
          {
            "node": "Extracted_Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracted_Content": {
      "main": [
        [
          {
            "node": "Set_User_Utterance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image_Output": {
      "main": [
        [
          {
            "node": "Extracted_Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "File_Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File_Output1": {
      "main": [
        [
          {
            "node": "Extracted_Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Prompts": {
      "main": [
        [
          {
            "node": "Agg_Set_Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter_Chat_Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze_User_Response1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter_Chat_Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Follow Up Status",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Map_Agent_Config": {
      "main": [
        [
          {
            "node": "Set_Setter_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_File_Processing_Enabled": {
      "main": [
        [
          {
            "node": "Checking_Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_User_Utterance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Inbound_Webhook": {
      "main": [
        [
          {
            "node": "Set_Text_Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Human_Transferred_Enabled": {
      "main": [
        [
          {
            "node": "Analyze_User_Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "# Is Booking Function Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign_to_Human1": {
      "main": [
        [
          {
            "node": "# Is Booking Function Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Prompts1": {
      "main": [
        [
          {
            "node": "Agg_Set_Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg_Set_Prompts": {
      "main": [
        [
          {
            "node": "Set_FollowUp_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response_Delay": {
      "main": [
        [
          {
            "node": "Split_Reply_to_JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Available_Slot": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "bookAppointment": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start_Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start_Date1": {
      "main": [
        [
          {
            "node": "End_Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End_Date1": {
      "main": [
        [
          {
            "node": "Set_startDate_endDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_startDate_endDate1": {
      "main": [
        [
          {
            "node": "getAvailableSlot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContactAppointments1": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateAppointment1": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelAppointment1": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set_FollowUp_Agent": {
      "main": [
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Follow Up Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History1": {
      "main": [
        [
          {
            "node": "If_Human_Transferred_Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getGHL_Conversations": {
      "main": [
        [
          {
            "node": "getGHL_Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getGHL_Messages": {
      "main": [
        [
          {
            "node": "Split_Message_IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Message_IDs": {
      "main": [
        [
          {
            "node": "Extract_Human_Agent_Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_Human_Agent_Messages": {
      "main": [
        []
      ]
    },
    "Setter": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Setter": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages & History6": {
      "main": [
        [
          {
            "node": "Simulation Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages & History4": {
      "main": [
        [
          {
            "node": "Simulation Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages & History3": {
      "main": [
        [
          {
            "node": "Simulation Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages & History2": {
      "main": [
        [
          {
            "node": "Simulation Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Messages & History1": {
      "main": [
        [
          {
            "node": "Simulation Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulation Response1": {
      "main": [
        []
      ]
    },
    "Set_Setter_Details": {
      "main": [
        [
          {
            "node": "If_File_Processing_Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "# Is Booking Function Needed?": {
      "main": [
        [
          {
            "node": "Booking Setter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getContact": {
      "main": [
        [
          {
            "node": "Set_User_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Get_API_Credentials2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAvailableSlot1": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials2": {
      "main": [
        [
          {
            "node": "Get_API_Credentials3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_API_Credentials3": {
      "main": [
        [
          {
            "node": "Get_Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createContact": {
      "ai_tool": [
        [
          {
            "node": "Booking Setter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "Europe/Minsk"
  },
  "versionId": "5272c156-e1c8-4a6d-ac93-4fc5567ec306",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "Bywi98_cvSODL1sHzSX0w",
  "tags": []
}